<?xml version="1.0"?>
<cluster config_version="14" name="cluster">
        <fencedevices>
                <fencedevice agent="fence_sysrq" name="test"/>
        </fencedevices>
        <dlm enable_fencing="0" enable_quorum="1"/>
        <clusternodes>
                <clusternode name="node1" nodeid="1">
                        <fence>
                                <method name="vcenter">
                                        <device name="test" nodename="node1"/>
                                </method>
                        </fence>
                </clusternode>
                <clusternode name="node2" nodeid="2">
                        <fence>
                                <method name="vcenter">
                                        <device name="test" nodename="node2"/>
                                </method>
                        </fence>
                </clusternode>
        </clusternodes>
        <rm>
                <failoverdomains>
                        <failoverdomain name="cluster" nofailback="1" ordered="1" restricted="1">
                                <failoverdomainnode name="node1" priority="1"/>
                                <failoverdomainnode name="node2" priority="2"/>
                        </failoverdomain>
                </failoverdomains>
                <resources>
                        <script file="/etc/init.d/ifup_conf" name="ifup"/>
                        <script file="{{ WF_10_INIT }}" name="wildfly"/>
                        <script file="{{ JETTY_INIT }}" name="jetty"/>
                        <script file="/etc/init.d/spo-chat" name="spo-chat"/>
                </resources>
                <service domain="cluster" name="spo" recovery="restart">
                        <script ref="ifup"/>
                        <script ref="wildfly"/>
                        <script ref="jetty"/>
                        <script ref="spo-chat"/>
                </service>
        </rm>
        <cman expected_votes="1" transport="udpu" two_node="1">
                <!-- <multicast addr="234.52.52.52"/> -->
        </cman>
</cluster>