#!/bin/bash
#
# chkconfig: - 30 60
# description: webgio2
# processname: webgio2
## config: /opt/webgio/lib/webgio4.2/gisargun/config.ini
# pidfile: /var/run/webgio/webgio2.pid
## mkdir /var/run/webgio/
## /opt/DataGisBase
## chown -R webgio:webgio /opt/DataGisBase
## chown -R webgio:webgio /opt/final/lib/kaskad4.0
## avtor "жзл очумелые ручки"
## remake 16.10.14
 
. /etc/init.d/functions
 
[ -f /etc/sysconfig/network ] &&  . /etc/sysconfig/network
 
 
webgio_home () {

##HOME_DIR=/opt/webgio/bin
##cd $HOME_DIR
##cd ../lib/webgio4.2/gisargun
##pwd
##source ./vars.sh
export LD_LIBRARY_PATH={{ WEBGIO_HOME }}/lib/arktika-2020-webgio24.2/gisargun:{{ WEBGIO_HOME }}/lib/arktika-2020-webgio24.2/gisargun/plugins3d:{{ WEBGIO_HOME }}/lib/arktika-2020-webgio24.2/gisargun/plugins/GisLayersPlugin:{{ WEBGIO_HOME }}/lib/arktika-2020-webgio24.2/qt:{{ WEBGIO_HOME }}/lib/arktika-2020-webgio24.2/extern:{{ WEBGIO_HOME }}/lib/arktika-2020-webgio24.2/webgio:$LD_LIBRARY_PATH
export PATH={{ WEBGIO_HOME }}/lib/arktika-2020-webgio24.2/gisargun:{{ WEBGIO_HOME }}/lib/arktika-2020-webgio24.2/webgio:$PATH
} 
 
pidfile=/var/run/webgio/webgio2_service.pid
lockfile=/var/lock/subsys/webgio2_service
 
status -p $pidfile -l $(basename $lockfile) $lockfile >/dev/null 2>&1
running=$?
 
 
status_u (){
#echo '22222222222222222222222222222222222222222'
status -p $pidfile -l $(basename $lockfile) $lockfile
running=$?
}
 
 
start() {
#	echo '1111111111111111111111111111111111'
    status_u >/dev/null 2>&1
    if [ $running -eq 1 ]
    then
        rm -rf /var/run/webgio/webgio2_service.pid
        rm -rf /var/lock/subsys/webgio2_service
    fi
 
    if [ $running -eq 0 ]
    then
        status_u
    else
        webgio_home
        DISPLAY=:25 {{ WEBGIO_HOME }}/lib/arktika-2020-webgio24.2/webgio/webgio2_service >/dev/null 2>&1 &
		echo $(pidof webgio2_service)
        pidof webgio2_service > /var/run/webgio/webgio2_service.pid
        echo webgio2_service > /var/lock/subsys/webgio2_service
        status_u
    fi
}
 
 
 
 
start_dop() {
    status_u >/dev/null 2>&1
        if [ $running -eq 1 ]
        then
                rm -rf /var/run/webgio/webgio2_service.pid
                rm -rf /var/lock/subsys/webgio2_service
        webgio_home
        DISPLAY=:25 {{ WEBGIO_HOME }}/lib/arktika-2020-webgio24.2/webgio/webgio2_service &
                pidof webgio2_service > /var/run/webgio/webgio2_service.pid
                echo webgio2_service > /var/lock/subsys/webgio2_service
    fi
}

stop() {
    status_u >/dev/null 2>&1
        if [ $running -eq 1 ]
        then
        rm -rf /var/run/webgio/webgio2_service.pid
        rm -rf /var/lock/subsys/webgio2_service
        fi

    status_u >/dev/null 2>&1
    if [ $running -eq 3 ]
    then
        status_u
    else
        kill -TERM `ps -e |grep webgio2_service | awk '{print $1}'` & >&/dev/null
            rm -rf /var/run/webgio/webgio2_service.pid
            rm -rf /var/lock/subsys/webgio2_service
            status_u
    fi
}


restart_u() {
    status_u >/dev/null 2>&1
    if [ $running -eq 1 ]
        then
        rm -rf /var/run/webgio/webgio2_service.pid
        rm -rf /var/lock/subsys/webgio2_service
        fi

    if [ $running -eq 3 ]
    then
        start
    else
        kill -TERM `ps -e |grep webgio2_service | awk '{print $1}'` & >&/dev/null
                rm -rf /var/run/webgio/webgio2_service.pid
                rm -rf /var/lock/subsys/webgio2_service
            status_u
        start
    fi
}


case "$1" in
    start)
       start
       ;;
    stop)
       stop
       ;;
    try-restart|condrestart|restart|force-reload|reload)
    restart_u
    ;;
    status|fullstatus)
    start_dop
    status -p $pidfile -l $(basename $lockfile) $lockfile
       ;;
    help|configtest|graceful)
    webgio-help
       ;;
    *)
       echo "Usage: $0 {start|stop|restart|condrestart|try-restart|force-reload|reload|status|fullstatus|graceful|help|configtest}"
esac

exit $?