{
  "server": {
    "driver": "HttpDriverFastCgiQt",
    "port": 80,
    "keep_alive": false,
    "max_threads": 0,
    "data": "../../../data"
  },
  "handlers": {
    "tms": {
      "datagisbase": "{{ DATAGISBASE_HOME }}",
      "cache": false
    },
    "proxy_tile": {
      "proxy": {
        "enable": false,
        "host": "localhost",
        "port": 8080,
        "authentication": false,
        "user": "user",
        "pwd": "pwd"
      }
    }
  }
}