<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <broker xmlns="http://activemq.apache.org/schema/core" brokerName="broker1" useJmx="true" schedulerSupport="true">
        <transportConnectors>
            <transportConnector name="transport1"
                                uri="tcp://localhost:{{ IPC_ACTIVEMQ_PORT }}?maximumConnections=1000&amp;wireFormat.maxFrameSize=104857600"/>
        </transportConnectors>
    </broker>

    <bean id="managementName" class="org.apache.camel.management.DefaultManagementNamingStrategy">
        <property name="hostName" value="localhost"/>
        <property name="domainName" value="org.apache.camel"/>
    </bean>

    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="brokerURL" value="tcp://localhost:{{ IPC_ACTIVEMQ_PORT }}"/>
    </bean>
</beans>