<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.3" name="org.picketlink.config">
    <!-- This module is deprecated and subject to being removed in a subsequent release. -->
    <properties>
        <property name="jboss.api" value="deprecated"/>
    </properties>

    <resources>
            <resource-root path="picketlink-config-2.5.5.SP1.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api" />
        <module name="org.picketlink.common" />
        <module name="org.jboss.logging"/>
        <module name="org.picketlink.idm.api" />
    </dependencies>

</module>
