<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<config>
    <branch id="default">
        <logdir>/var/log/niitp/cmc/</logdir>
        <piddir>/var/opt/niitp/cmc/pid/</piddir>
        <geometrydir>/var/opt/niitp/cmc/geometry/</geometrydir>
        <confdir>/opt/niitp/cmc/etc/</confdir>
        <tmpdir>/var/opt/niitp/cmc/tmp/</tmpdir>
        <loglevel><%= scope['cmcclient::log_level'] %></loglevel>
    </branch>
    <branch id="cmc.kernel">
        <hostaddr><%= scope['cmcclient::db_ip'] %></hostaddr>
        <port><%= scope['cmcclient::db_port'] %></port>
        <dbname><%= scope['cmcclient::db_name'] %></dbname>
        <login><%= scope['cmcclient::db_user'] %></login>
        <user><%= scope['cmcclient::db_user'] %></user>
        <password><%= scope['cmcclient::db_password'] %></password>
    </branch>
    <branch id="cmcmqcl">
        <ip><%= scope['cmcclient::mq_ip'] %></ip>
        <port><%= scope['cmcclient::mq_port'] %></port>
        <timeout>10</timeout>
    </branch>
</config>
