<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<dirs>
    <dir name="scope['cmcclient::http_folder']" http="scope['cmcclient::http_server_ip']:scope['cmcclient::http_server_port']/fdrp/upload"/>
</dirs>
