module.exports = {
  host: '{{ OK_DB_IP }}',
  port: 5432,
  database: '{{ MIDDLEWARE_DB }}',
  user: 'middleware',
  password: '{{ PASSWORD_DB }}',
  listen: 3000
}

// If exists user-conf it parameters will overwrite defaults
try {
  const conf = require('./user-conf.js')
  for (const key in conf) {
    if (conf.hasOwnProperty(key)) {
      module.exports[key] = conf[key]
    }
  }
} catch (err) {
}