### TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             all                                     trust
host    all             all             ::1/128                 trust
# IPv4 local connections:
host    all             all             0.0.0.0/0            trust
host    all             all             0.0.0.0/0            md5
# host    replication     replication     0.0.0.0/0         md5
# host    replication     replication     0.0.0.0/0         md5

host    replication     replication     {{REPIP1}}/32         md5
host    replication     replication     {{REPIP2}}/32         md5
host    postgres        replication     {{REPIP1}}/32         md5
host    postgres        replication     {{REPIP2}}/32         md5