listen_addresses='*'
port=5432
max_connections=500
shared_buffers={{ shared_buffers }}MB
effective_cache_size={{ effective_cache_size }}MB
maintenance_work_mem=512MB
min_wal_size={{ min_wal_size }}MB
max_wal_size={{ max_wal_size }}MB
checkpoint_completion_target=0.9
wal_buffers=16MB
default_statistics_target=100
random_page_cost=4
effective_io_concurrency=2
max_worker_processes={{ ansible_processor_vcpus }}
work_mem={{ work_mem }}MB
max_prepared_transactions=600
dynamic_shared_memory_type=posix
wal_level=hot_standby
max_wal_senders=8
wal_keep_segments=64

log_destination='syslog'
syslog_facility='LOCAL7'
log_lock_waits=on
log_timezone='{{ ZONEINFO }}'
log_min_messages=warning
log_min_error_statement=error
datestyle='iso,dmy'
timezone='{{ ZONEINFO }}'
lc_messages='ru_RU.UTF-8'
lc_monetary='ru_RU.UTF-8'
lc_numeric='ru_RU.UTF-8'
lc_time='ru_RU.UTF-8'
default_text_search_config='pg_catalog.russian'
max_locks_per_transaction=512
log_connections=on
log_disconnections=on
log_statement='mod'
log_line_prefix='%d %u %r;'
log_min_messages=warning
client_min_messages=notice
log_min_error_statement=error
log_min_duration_statement=2000

huge_pages=try
autovacuum=off
stats_temp_directory='/tmp/'

max_stack_depth=6MB
temp_buffers=16MB
lo_compat_privileges=on
