<?xml version="1.0" encoding="UTF-8"?>
<datasources>
	<xa-datasource jndi-name="java:jboss/datasources/classifierDS" pool-name="classifierPool" enabled="true">
		<xa-datasource-property name="ServerName">
			{% for host in groups['ZK_OZ_DB'] %}{%- if loop.first -%}{{ hostvars[host]['ansible_default_ipv4']['address'] }}{%- endif -%}{% endfor %}
		</xa-datasource-property>
		<xa-datasource-property name="PortNumber">
			5432
		</xa-datasource-property>
		<xa-datasource-property name="DatabaseName">
			{{ CLASSIFIER_DB }} 
		</xa-datasource-property>
		<driver>postgresql</driver>
		<xa-pool>
			<min-pool-size>3</min-pool-size>
			<max-pool-size>20</max-pool-size>
			<prefill>true</prefill>
			<use-strict-min>false</use-strict-min>
			<flush-strategy>FailingConnectionOnly</flush-strategy>
		</xa-pool>
		<security>
			<user-name>classifier</user-name>
			<password>{{ PASSWORD_DB }}</password>
		</security>
		<timeout>
			<blocking-timeout-millis>30000</blocking-timeout-millis>
			<idle-timeout-minutes>10</idle-timeout-minutes>
		</timeout>
	</xa-datasource>
</datasources>