DB_HOST={{ ansible_play_batch | first }}                              # Хост базы
DB_PORT=5432                                      # Порт базы
DB_NAME={{ FRONTIERDB }}                                  # Наименование базы
DB_OWNER=frontier                                 # Владелец (роль, пользователь) базы
SCRIPT_DIR=./updates                              # Директория со скриптами
HISTORY_TABLE=public.update_history               # Таблица истории обновлений
LOG_FILE=./update_history.log                     # Лог файл
SKIP_FAIL=false                                   # Игнорировать ошибки (true = игнорировать, false = выход при первой ошибке)
ENABLE_SZI_APPLY=true       # Включение скрипта наката SZI

ENABLE_FRONTIER_RESOURCE_SCRIPT=true              # Включение скрипта
FRONTIER_RESOURCE_SCRIPT=./resource_frontier.sql  # Путь до скрипта
# Текущий объект
REGION=arctic