LOG_FILE=update_history.log					# Журнал выполнения
DB_HOST={{ ansible_play_batch | first }}						# Хост базы данных
DB_PORT=5432							# Порт базы данных
DB_NAME=data_exchange						# Имя базы данных
DB_OWNER=data_exchange						# Владелец базы данных
DB_PASSWORD=12345678						# Пароль к базе данных
DATA_EXCHANGE_RESOURCE_SCRIPT=resource_data_exchange.sql	#.
