UPDATE app.string_property SET value=replace(value,'10.100.5.2','{{ GIS_CLUSTER_IP }}') WHERE value like '%10.100.5.2:16000%';
UPDATE map.map_sign_style SET url=replace(url,'gisurl','{{ GIS_CLUSTER_IP }}') WHERE url like '%gisurl%';
UPDATE map.map_layer_parameter SET value=replace(value,oldUrl(),newUrl()) WHERE value like concat('%',oldUrl(),'%');