proxy_cache_path /opt/nginx/cache levels=1:2 keys_zone=szi_cache:5m max_size=10g;
proxy_cache_key "$scheme$request_method$host$request_uri";

map $http_upgrade $connection_upgrade {
                default upgrade;
                '' close;
        }

upstream webgiocalc {
    ip_hash;
    server {% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIOCALC_ZK }};
}

upstream webgio2 {
    ip_hash;
    server {% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIO_ZK }};
}

upstream web {
                ip_hash;
                server 127.0.0.1:81;
        }

server {
        listen 80;

        location / {
                proxy_pass http://web;
                proxy_set_header                    Upgrade                        $http_upgrade;
                proxy_set_header                    Connection                     $connection_upgrade;
                proxy_buffering                     off;
                proxy_read_timeout                  86400s;
                proxy_send_timeout                  86400s;
                add_header X-Served-By "ZAO MVP Swemel";

        }

        location ~* \.(?:css|js|jpe?g|ico|cur|gif|png|tif|svg|svgz|ogg|ogv|webm|htc|pdf|mp3|mp4|ogg|avi|mpe?g|zip|gz|bz2?|rar|ico|bmp|swf|txt|xml)$ {
                access_log off;
                proxy_cache szi_cache;
                proxy_pass http://web;
                proxy_cache_valid 404 403 1m;
                proxy_cache_valid any 1y;
                proxy_hide_header       "Set-Cookie";
                proxy_ignore_headers    "Cache-Control" "Expires";

                proxy_ignore_headers "X-Accel-Expires";
                proxy_ignore_headers "Set-Cookie";
                add_header X-Proxy-Cache $upstream_cache_status;

                proxy_cache_revalidate on;
                proxy_cache_min_uses 1;
                proxy_cache_use_stale error timeout updating http_500 http_502
                              http_503 http_504;
                proxy_cache_lock on;

        }
}

server {
    listen              127.0.0.1:81;
    access_log          /var/log/nginx/gis.access.log  main;
    error_log           /var/log/nginx/gis.error.log notice;
    rewrite_log         on;
    proxy_http_version  1.1;
    proxy_redirect      off;
    proxy_set_header    Host                           $host;
    proxy_set_header    X-Real-IP                      $remote_addr;
    proxy_set_header    X-Forwarded-For                $proxy_add_x_forwarded_for;
    proxy_set_header    X-Forwarded-Proto              $scheme;
    proxy_set_header    Access-Control-Allow-Origin    *;
    proxy_buffering     off;
    proxy_read_timeout  3600;
    proxy_send_timeout  90;

    location /tms {
        proxy_pass    http://webgio2/tms;
    }

    location /classif {
        proxy_pass    http://webgio2/classif;
    }

    location /gis_access {
        proxy_pass    http://webgio2/gis_access;
    }
   
    location /classif/tknicon {
        proxy_pass    http://webgiocalc/classif/tknicon;
    }

    location /data {
        proxy_pass    http://webgiocalc/;
    }
   
    location /calc {
        proxy_pass    http://webgiocalc/calc;
    }

    location /calc2 {
        proxy_pass    http://webgiocalc/calc2;
    }

    location /matrix_catalog {
        proxy_pass    http://webgiocalc/matrix_catalog;
    }

    location /print {
        proxy_pass    http://webgiocalc/print;
    }

    location /geometry {
        proxy_pass    http://webgiocalc/geometry;
    }

    location /gxf_list {
        proxy_pass    http://webgiocalc/gxf_list;
    }

    location /layer_classifiers {
        proxy_pass    http://webgiocalc/layer_classifiers;
    }


    location /mbtiles {
        proxy_pass    http://webgiocalc/mbtiles;
    }

    location /move_models {
        proxy_pass    http://webgiocalc/move_models;
    }

    location /osm {
        proxy_pass    http://webgiocalc/osm;
    }

    location /search {
        proxy_pass    http://webgiocalc/search;
    }

    location /transform {
        proxy_pass    http://webgiocalc/transform;
    }

    location /static {
        proxy_pass    http://webgio2/static;
    }

}
