[ArgunGis]
directoryContent=../../../bin/public
directoryData=../../../bin/data
directoryDataGisBase=/opt/argun/common/DataGisBase
directoryDataSvd=/opt/argun/common/DataCollector/_svd
enableAccess=false
hostFrontEndServer=http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIOCALC_ZK }}
remoteExit=false
sessionCookie=false

[ArgunProxy]
autentification=false
autentificationNTLM=false
enable=false
host={% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}
password=password
portNumber={{ GIS_PORT_WEBGIOCALC_ZK }}
proxyType=HttpProxy
user=user

[ArgunWeb]
backgroundProcess=true
loggingLevel=1
portNumber={{ GIS_PORT_WEBGIOCALC_ZK }}
socketType=HTTP

[handlers_calc]
memory_limit=1000000000

[handlers_mbtiles]
sites=osm, osm2

[handlers_osm]
sites=osm, osm2
