server {
 listen       80;
# server_name  192.168.134.22;
 access_log   /var/log/nginx/test.gis.access.log  main;
 error_log    /var/log/nginx/test.gis.error.log notice;
 rewrite_log on;
 

 # Тайлы и описание слоя
 location ~ ^/(tms/data)/(.*)$ {
	rewrite ^/(tms/data)/(.*)$ /webgio.ashx/$1/$2 break;
        proxy_http_version              1.1;
	    proxy_pass 			http://{{ GIS_CLUSTER_IP_ZK }}:{{ GIS_PORT_WEBGIOCALC_ZK }};
        proxy_redirect                  off;
        proxy_set_header                Host                           $host;
        proxy_set_header                X-Real-IP                      $remote_addr;
        proxy_set_header                X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                X-Forwarded-Proto              $scheme;
        proxy_set_header                Access-Control-Allow-Origin    *;
        proxy_buffering                 off;
        proxy_read_timeout              3600;
        proxy_send_timeout              90;
        proxy_connect_timeout           5;
 }

 location = /tms/data {
        proxy_http_version              1.1;
        proxy_pass                      http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIO_ZK }}/webgio.ashx/tms/data;
        proxy_redirect                  off;
        proxy_set_header                Host                           $host;
        proxy_set_header                X-Real-IP                      $remote_addr;
        proxy_set_header                X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                X-Forwarded-Proto              $scheme;
        proxy_set_header                Access-Control-Allow-Origin    *;
        proxy_buffering                 off;
        proxy_read_timeout              3600;
        proxy_send_timeout              90;
        proxy_connect_timeout           5;
 }

location /tms/1.0.0 {
        proxy_http_version              1.1;
        proxy_pass                      http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIO_ZK }}/webgio.ashx/tms/1.0.0;
        proxy_redirect                  off;
        proxy_set_header                Host                           $host;
        proxy_set_header                X-Real-IP                      $remote_addr;
        proxy_set_header                X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                X-Forwarded-Proto              $scheme;
        proxy_set_header                Access-Control-Allow-Origin    *;
        proxy_buffering                 off;
        proxy_read_timeout              3600;
        proxy_send_timeout              90;
        proxy_connect_timeout           5;
 }

# Знаки из библиотеки
 location ~ ^/(classif/tknicon/.*)/default.png$ {
        rewrite ^/(classif/tknicon/.*)/default.png$ /webgio.ashx/$1.png break;
        proxy_http_version              1.1;
        proxy_pass                      http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIO_ZK }};
        proxy_redirect                  off;
        proxy_set_header                Host                           $host;
        proxy_set_header                X-Real-IP                      $remote_addr;
        proxy_set_header                X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                X-Forwarded-Proto              $scheme;
        proxy_set_header                Access-Control-Allow-Origin    *;
        proxy_buffering                 off;
        proxy_read_timeout              3600;
        proxy_send_timeout              90;
        proxy_connect_timeout           5;
 }

 location ~ ^/(classif/tknicon/.*)/(.*)/([0-9]*).png$ {
        rewrite ^/(classif/tknicon/.*)/(.*)/([0-9]*).png$ /webgio.ashx/$1/$2$3.png break;
        proxy_http_version              1.1;
        proxy_pass                      http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIO_ZK }};
        proxy_redirect                  off;
        proxy_set_header                Host                           $host;
        proxy_set_header                X-Real-IP                      $remote_addr;
        proxy_set_header                X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                X-Forwarded-Proto              $scheme;
        proxy_set_header                Access-Control-Allow-Origin    *;
        proxy_buffering                 off;
        proxy_read_timeout              3600;
        proxy_send_timeout              90;
        proxy_connect_timeout           5;
 }

# location /classif/tknicon {
#        proxy_http_version                  1.1;
#        proxy_pass                          http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIOCALC_ZK }}/classif/tknicon;
#        proxy_redirect                      off;
#        proxy_set_header                    Host                           $host;
#        proxy_set_header                    X-Real-IP                      $remote_addr;
#        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
#        proxy_set_header                    X-Forwarded-Proto              $scheme;
#        proxy_set_header                    Access-Control-Allow-Origin    *;
#        proxy_buffering                     off;
#        proxy_read_timeout                  3600;
#        proxy_send_timeout                  90;
# }

 # Работа с векторными данными 
 location = /data/vector {
        proxy_http_version              1.1;
        proxy_pass                      http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIO_ZK }}/webgio.ashx/tms/layers/svd/command;
        proxy_redirect                  off;
        proxy_set_header                Host                           $host;
        proxy_set_header                X-Real-IP                      $remote_addr;
        proxy_set_header                X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                X-Forwarded-Proto              $scheme;
        proxy_set_header                Access-Control-Allow-Origin    *;
        proxy_buffering                 off;
        proxy_read_timeout              3600;
        proxy_send_timeout              90;
        proxy_connect_timeout           5;
 }

 location ~ ^/data/vector/(.*)$ {
        rewrite ^/data/vector/(.*)$ /webgio.ashx/tms/layers/svd/command/$1 break;
        proxy_http_version              1.1;
        proxy_pass                      http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIO_ZK }};
        proxy_redirect                  off;
        proxy_set_header                Host                           $host;
        proxy_set_header                X-Real-IP                      $remote_addr;
        proxy_set_header                X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                X-Forwarded-Proto              $scheme;
        proxy_set_header                Access-Control-Allow-Origin    *;
        proxy_buffering                 off;
        proxy_read_timeout              3600;
        proxy_send_timeout              90;
        proxy_connect_timeout           5;
 }

# location ~ ^/data/vector/(.*)$ {
#        rewrite ^/data/vector/(.*)$ /webgio.ashx/tms/layers/svd/command/$1 break;
#        proxy_http_version                  1.1;
#        proxy_pass                      http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIO_ZK }};
#        proxy_redirect                  off;
#        proxy_set_header                Host                           $host;
#        proxy_set_header                X-Real-IP                      $remote_addr;
#        proxy_set_header                X-Forwarded-For                $proxy_add_x_forwarded_for;
#        proxy_set_header                X-Forwarded-Proto              $scheme;
#        proxy_set_header                Access-Control-Allow-Origin    *;
#        proxy_buffering                 off;
#        proxy_read_timeout              3600;
#        proxy_send_timeout              90;
#        proxy_connect_timeout           5;
# }

 # Расчётные задачи
 location /calc {
        proxy_http_version                  1.1;
        proxy_pass                          http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIOCALC_ZK }}/calc;
        proxy_redirect                      off;
        proxy_set_header                    Host                           $host;
        proxy_set_header                    X-Real-IP                      $remote_addr;
        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                    X-Forwarded-Proto              $scheme;
        proxy_set_header                    Access-Control-Allow-Origin    *;
        proxy_buffering                     off;
        proxy_read_timeout                  3600;
        proxy_send_timeout                  90;

 }

 location /calc2 {
        proxy_http_version                  1.1;
        proxy_pass                          http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIOCALC_ZK }}/calc2;
        proxy_redirect                      off;
        proxy_set_header                    Host                           $host;
        proxy_set_header                    X-Real-IP                      $remote_addr;
        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                    X-Forwarded-Proto              $scheme;
        proxy_set_header                    Access-Control-Allow-Origin    *;
        proxy_buffering                     off;
        proxy_read_timeout                  3600;
        proxy_send_timeout                  90;

 }

 location /matrix_catalog {
        proxy_http_version                  1.1;
        proxy_pass                          http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIOCALC_ZK }}/matrix_catalog;
        proxy_redirect                      off;
        proxy_set_header                    Host                           $host;
        proxy_set_header                    X-Real-IP                      $remote_addr;
        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                    X-Forwarded-Proto              $scheme;
        proxy_set_header                    Access-Control-Allow-Origin    *;
        proxy_buffering                     off;
        proxy_read_timeout                  3600;
        proxy_send_timeout                  90;

 }


 # Обращения к напрямую к webgio.ashx с l2c8388607.wf
 location /webgio.ashx {
        proxy_http_version                  1.1;
        proxy_pass                          http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIO_ZK }}/webgio.ashx;
        proxy_redirect                      off;
        proxy_set_header                    Host                           $host;
        proxy_set_header                    X-Real-IP                      $remote_addr;
        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                    X-Forwarded-Proto              $scheme;
        proxy_set_header                    Access-Control-Allow-Origin    *;
        proxy_buffering                     off;
        proxy_read_timeout                  3600;
        proxy_send_timeout                  90;
    }



}
