[ArgunGis]
directoryContent=../../../bin/public
directoryData=../../../bin/data
directoryDataGisBase=/opt/DataGisBase
directoryDataSvd=/opt/DataCollector/_svd
enableAccess=false
hostFrontEndServer={{ GIS_IP }}
remoteExit=false
sessionCookie=true

[ArgunProxy]
autentification=false
enable=false
host={{ GIS_IP }}
password=password
portNumber={{ GIS_PORT_WEBGIOCALC_ZK }}
proxyType=HttpProxy
user=username

[ArgunWeb]
loggingLevel=5
portNumber={{ GIS_PORT_WEBGIOCALC_ZK }}
socketType=HTTP

[handlers_mbtiles]
sites=osm, osm2

[handlers_osm]
sites=osm, osm2
