[ArgunGis]
directoryContent=../../../bin/public
directoryData=../../../bin/data
directoryDataGisBase=/opt/DataGisBase
directoryDataSvd=/opt/DataCollector/_svd
enableAccess=false
hostFrontEndServer=http://{% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}:{{ GIS_PORT_WEBGIOCALC_ZK }}
remoteExit=false
sessionCookie=true

[ArgunProxy]
autentification=false
enable=false
host={% for host in groups['ZK_OZ_GIS'] %}{%- if loop.first -%}{{ hostvars[host].GIS_CLUSTER_IP }}{%- endif -%}{% endfor %}
password=password
portNumber={{ GIS_PORT_WEBGIOCALC_ZK }}
proxyType=HttpProxy
user=username

[ArgunWeb]
loggingLevel=5
portNumber={{ GIS_PORT_WEBGIOCALC_ZK }}
socketType=HTTP

[handlers_mbtiles]
sites=osm, osm2

[handlers_osm]
sites=osm, osm2
