# если настройка установлена в true - плагин отключён
disablePlugin=false

# адрес сервиса СДНО
sdnoAddress=http://{{SDNO_IP}}:{{SDNO_PORT}}/sea/targetinfo

# если настройка установлена в true - обработка ГПК включена
gpkEnabled=true

# путь до файла с тестовыми данными, если не равен пустой строке или не закоментирован
# то gpkAddress игнорируется и данные считываются из файла
# gpkTestFilePath=/opt/example.txt

# адрес сервиса ГПК в СДНО
gpkAddress=http://{{ GPK_IP }}:{{GPK_PORT}}/sea/gpk/shipcalls

# часовой пояс сервера ГПК
gpkTimeZone=GMT+12

# интервал запроса данных по ГПК, мин
gpkInterval=5

# ДЛЯ ТЕСТИРОВАНИЯ: запрос данных, находящихся на {gpkDaysOffset} дней в прошлом относительно текущего времени
# в production-среде должен равняться 0
gpkDaysOffset={{ GPK_DAYS_OFFSET }}


# количество обрабатываемых записей за один проход
sdnoTargetsInTransaction=100

# если настройка установлена в true, то плагин не будет создавать новые корабли, а только добавлять данные к существующим
disableShipsCreate=false

# если настройка установлена в true, то плагин не будет обновлять существующие корабли, а только добавлять к ним временные точки целей
disableShipsUpdate=false
