brAirport=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrAirport/query?returnGeometry=true
brAutoRoad=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrAutoRoad/query?returnGeometry=true
brBusStation=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrBusStation/query?returnGeometry=true
brDangerousSectionsRailways=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrDangerousSectionsRailways/query?returnGeometry=true
brDangerousRoadSections=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrDangerousRoadSections/query?returnGeometry=true
emEmergency=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/em_Emergency/query?returnGeometry=true
brForcesMeans=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrForcesMeans/query?returnGeometry=true
brHelipads=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrHelipads/query?returnGeometry=true
brIndustrialSocial=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrIndustrialSocial/query?returnGeometry=true
brManagementBodies=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrManagementBodies/query?returnGeometry=true
brObjectRoadService=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrObjectRoadService/query?returnGeometry=true
brPasses=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrPasses/query?returnGeometry=true
brIntersectionPipelines=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrIntersectionPipelines/query?returnGeometry=true
brRailwayBridges=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrRailwayBridges/query?returnGeometry=true
brRailwayCrossings=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrRailwayCrossings/query?returnGeometry=true
brRailwayStation=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrRailwayStation/query?returnGeometry=true
brRailwayTrack=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrRailwayTrack/query?returnGeometry=true
brRailwayTunnels=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrRailwayTunnels/query?returnGeometry=true
brRiverPorts=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrRiverPorts/query?returnGeometry=true
brRiverStation=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrRiverStation/query?returnGeometry=true
brRoadBridge=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrRoadBridge/query?returnGeometry=true
brRoadTunnels=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrRoadTunnels/query?returnGeometry=true
brSeaPort=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrSeaport/query?returnGeometry=true
brSeaTerminal=http://{{BREEZE_IP}}/asncuks/DataSrv/Breeze/BrSeaTerminal/query?returnGeometry=true
