osmBaseURL=http://{{OSMFAR_IP}}/fms/cgi/fms-rest-api-ARCTIC?query=
authData={{OSMFAR_USER}}:{{OSMFAR_PASS}}
osmLimitsBase = limits_base_only_id_by_year
osmCatch = catch_by_id_and_date
osmAllStat = all_stat_dicts
osmDis = dis_by_ves_list_and_time
osmOnlyYear = limits_only_id_by_year
osmOwn = own_history_by_act_stamp
osmPermission = permissions_by_year_and_own_id_list
osmPosition = pos_by_id_and_time
osmReload = reload_full_by_id_and_date
osmVes = ves_history_by_act_stamp

osmPermissionDateTo = 2018
osmLimitsBaseDateFrom = 2018-01-01
osmLimitsBaseDateTo = 2018-07-15
osmCatchDateFrom = 2018-01-01
osmCatchDateTo = 2018-07-15
osmDisDateFrom = 2018-01-01
osmDisDateTo = 2018-07-15
osmOnlyYearDateTo = 2018
osmOwnDateTo = 2018-07-01
osmPositionDateTimeFrom = 2018-07-01+10:06:06
osmPositionDateTimeTo = 2018-07-02+10:06:06
osmReloadDateFrom = 2018-01-01
osmReloadDateTo = 2018-07-15
osmVesDateTo = 2018-07-10

defaultUrlCount = 1000
permissionUrlCount = 10
positionUrlCount = 500
catchUrlCount = 1000
disUrlCount = 1000
reloadUrlCount = 1000

osmOwnDelay = 40
osmLimitsBaseDelay = 50
osmOnlyYearDelay = 60
osmVesDelay = 80
osmPermissionDelay = 100
osmPositionDelay = 155
osmDisDelay = 200
osmReloadDelay = 230
osmCatchDelay = 255
