############################
# Set here system properties
current.zone={{ZONE}}

frontend.arcticUrl=

gis.url=http://{{ GIS }}/giscalc/
classifier.rest.url=http://{{CL_APP_IP}}:{{CL_APP_PORT}}/classifier/app
astk.service.url=http://{{ASTK_IP}}:{{ASTK_PORT}}
cp.schema.dir=/opt/spo/cache/frontier/kpp/schema

