<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<config>
    <branch id="cmchttp">
        <ip><%= scope['cmcserver::http_ip'] %></ip>
        <port><%= scope['cmcserver::http_port'] %></port>
    </branch>
</config>
