<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<config>
    <branch id="cmcmq">
        <port><%= scope['cmcserver::mq_server_port'] %></port>
        <maxconn><%= scope['cmcserver::mq_server_maxconn'] %></maxconn>
    </branch>
</config>
