DB_HOST={{ DBIP }}                                # Хост базы
DB_PORT=5432                                      # Порт базы
DB_NAME=frontier                                  # Наименование базы
DB_OWNER=frontier                                 # Владелец (роль, пользователь) базы
SCRIPT_DIR=./updates                              # Директория со скриптами
HISTORY_TABLE=public.update_history               # Таблица истории обновлений
LOG_FILE=./update_history.log                     # Лог файл
SKIP_FAIL=false                                   # Игнорировать ошибки (true = игнорировать, false = выход при первой ошибке)
ENABLE_SZI_APPLY={{ FRO_SZI_APPLY|lower }}        # Включение скрипта наката SZI
#SZI_APPLY_FILE=/opt/swm_spo_db_update/frontier/szi/script_all_PU.txt
                                                  # Файл скрипта наката

ENABLE_FRONTIER_RESOURCE_SCRIPT=true              # Включение скрипта
FRONTIER_RESOURCE_SCRIPT=./resource_frontier.sql  # Путь до скрипта
# Текущий объект
REGION=arctic