# Хост базы
DB_HOST={{DBIP}}
# Порт базы
DB_PORT={{DBPORT}}
# Наименование базы
DB_NAME=frontier
# Владелец (роль, пользователь) базы
DB_OWNER=frontier
# Директория со скриптами
SCRIPT_DIR=./updates
# Таблица истории обновлений
HISTORY_TABLE=public.update_history
# Лог файл
LOG_FILE=./update_history.log
# Игнорировать ошибки (true = игнорировать, false = выход при первой ошибке)
SKIP_FAIL=false
# Включение скрипта наката SZI
ENABLE_SZI_APPLY=true
# Файл скрипта наката
REGION=arctic

# Включение скрипта
ENABLE_FRONTIER_RESOURCE_SCRIPT=true
# Путь до скрипта
FRONTIER_RESOURCE_SCRIPT=./resource_frontier.sql
