<?xml version="1.0" encoding="UTF-8"?>
<datasources>
        <xa-datasource jndi-name="java:jboss/datasources/dataExchangeDS"
                pool-name="frontierPool" enabled="true">
                <xa-datasource-property name="ServerName">
                        {{ DBIP }}
                </xa-datasource-property>
                <xa-datasource-property name="PortNumber">
                        {{ DBPORT }}
                </xa-datasource-property>
                <xa-datasource-property name="DatabaseName">
                        {{ DBEXCHDB }}
                </xa-datasource-property>
                <driver>postgresql</driver>
                <xa-pool>
                        <min-pool-size>2</min-pool-size>
                        <max-pool-size>30</max-pool-size>
                        <prefill>true</prefill>
                        <use-strict-min>false</use-strict-min>
                        <flush-strategy>FailingConnectionOnly</flush-strategy>
                </xa-pool>
                <security>
                        <user-name>{{ DBEXCHUSER }}</user-name>
                        <password>{{ DBEXCHPASS }}</password>
                </security>
                <timeout>
                        <blocking-timeout-millis>30000</blocking-timeout-millis>
                        <idle-timeout-minutes>10</idle-timeout-minutes>
                </timeout>
        </xa-datasource>
</datasources>