TARGET_HOST='{{ DBIP }}'
TARGET_PORT='{{ DBPORT }}'
TARGET_DATABASE='{{ FLYDB }}'
TARGET_USER='{{ FLYUSER }}'
TARGET_PASSWORD='{{ FLYPASS }}'

TARGET_SUPERUSER='postgres'
TARGET_SUPERPASSWORD='12345678'
