# owt-server's database file path
OWT_DB='/var/opt/owt-server/owtdb.db3'

# Transport receiver socket address (default: localhost:9030)
OWT_TRANSA={{ DIODOK }}:10005

# Http socket address (default: localhost:8000)
OWT_HTTPSA=10007

# server log level [0-7], default 2 (info & critical errors)
# OWT_LOGLL=2
