<PicketLink xmlns="urn:picketlink:identity-federation:config:2.1">
  <PicketLinkIDM>
    <named value="LDAP_STORE_CONFIG">
      <stores>
        <add identityStoreConfigurationClass="ru.swemel.security.picketlink.ldapext.config.LDAPTermIdentityStoreConfiguration" builderClass="ru.swemel.security.picketlink.ldapext.config.LDAPTermStoreConfigurationBuilder">
          <baseDN value="{{ LDAP_DC }}" />
          <bindDN value="{{ LDAP_CN }}" />
          <bindCredential value="{{ LDAP_PS }}" />
          <url value="ldap://{{ LDAP_ADDR }}" />
          <supportCredentials supportCredentials="true" />
          <supportType value="org.picketlink.idm.model.IdentityType" />
          <mapping value="ru.flygres.midfly.security.User">
            <baseDN value="{{ LDAP_OU }}" />
            <objectClasses value1="organizationalPerson" />
            <attribute propertyName="loginName" ldapAttributeName="uid" identifier="true" />
            <readOnlyAttribute propertyName="firstName" ldapAttributeName="cn" />
            <readOnlyAttribute propertyName="permission" ldapAttributeName="permission" />
            <readOnlyAttribute propertyName="lastName" ldapAttributeName="sn" />
            <readOnlyAttribute propertyName="email" ldapAttributeName="mail" />
            <readOnlyAttribute propertyName="createdDate" ldapAttributeName="whenCreated" />
            <readOnlyAttribute propertyName="modifyDate" ldapAttributeName="whenChanged" />
            <readOnlyAttribute propertyName="pwdAccountLockedTime" ldapAttributeName="pwdAccountLockedTime" />
          </mapping>
        </add>
      </stores>
    </named>
  </PicketLinkIDM>
</PicketLink>
