# если настройка установлена в true - плагин отключён
disablePlugin=false

# адрес сервиса СДНО
sdnoAddress=http://{{ SDNOIP }}:{{ SDNOPORT }}{{ SDNOLINKS }}

# количество обрабатываемых записей за один проход
sdnoTargetsInTransaction=100

# если настройка установлена в true - обработка ГПК включена
gpkEnabled=false

# адрес сервиса ГПК в СДНО
gpkAddress=http://{{ SDNOIP }}:{{ SDNOPORT }}{{GPKLINKS}}

# интервал запроса данных по ГПК, мин
gpkInterval=15

# запросы задним числом
gpkDaysOffset=30
