############################
# Set here system properties
current.zone={{ZONE_NAME|upper}}

gis.url=http://{{GISIP}}/giscalc/
classifier.rest.url=http://127.0.0.1:8180/classifier/app
cp.schema.dir=/opt/spo/cache/frontier/kpp/schema