<?xml version='1.0' encoding='UTF-8'?>

<server xmlns="urn:jboss:domain:4.2">

        <extensions>
                <extension module="org.jboss.as.clustering.infinispan"/>
                <extension module="org.jboss.as.connector"/>
                <extension module="org.jboss.as.deployment-scanner"/>
                <extension module="org.jboss.as.ee"/>
                <extension module="org.jboss.as.ejb3"/>
                <extension module="org.jboss.as.jaxrs"/>
                <extension module="org.jboss.as.jdr"/>
                <extension module="org.jboss.as.jmx"/>
                <extension module="org.jboss.as.jpa"/>
                <extension module="org.jboss.as.jsf"/>
                <extension module="org.jboss.as.logging"/>
                <extension module="org.jboss.as.mail"/>
                <extension module="org.jboss.as.naming"/>
                <extension module="org.jboss.as.pojo"/>
                <extension module="org.jboss.as.remoting"/>
                <extension module="org.jboss.as.sar"/>
                <extension module="org.jboss.as.security"/>
                <extension module="org.jboss.as.transactions"/>
                <extension module="org.jboss.as.webservices"/>
                <extension module="org.jboss.as.weld"/>
                <extension module="org.wildfly.extension.batch.jberet"/>
                <extension module="org.wildfly.extension.bean-validation"/>
                <extension module="org.wildfly.extension.io"/>
                <extension module="org.wildfly.extension.request-controller"/>
                <extension module="org.wildfly.extension.security.manager"/>
                <extension module="org.wildfly.extension.undertow"/>
                <extension module="org.wildfly.extension.messaging-activemq"/>
        </extensions>

        <system-properties>
                <property name="ru.swm.idm.config" value="picketlink-ldap.xml"/>
                <property name="ru.flygres.midfly.rest.IdentityService.addonInfoQuery" value="{$type:'systemUsers',id,version,login,_foivPersonnel_systemUsersLink:{id,version,type,birthDate,firstName,lastName,middleName,photo,orgFoivDepartment:{id,version,name,type,emblemSignStyleIcon:{id,type,content}}},_personnelZKVS_systemUsersLink:{id,version,type,birthDate,firstName,lastName,middleName,photo,_personnelAccounting_personnelZKVS:{_zkPUOrgstructure_personnelAccounting:{id,version,name,type,emblemSignStyleIcon:{id,type,content}}}},$where:(equal(attribute('login'),value('%%login%%')),or(isNotNull(attribute('_foivPersonnel_systemUsersLink')),isNotNull(attribute('_personnelZKVS_systemUsersLink'))))}"/>
                <property name="ru.flygres.midfly.rest.IdentityService.verifyPermissionPathCard" value="systemset.nfoiv=true"/>
        </system-properties>

        <management>
                <security-realms>
                        <security-realm name="ManagementRealm">
                                <authentication>
                                        <local default-user="$local" skip-group-loading="true"/>
                                        <properties path="mgmt-users.properties" relative-to="jboss.server.config.dir"/>
                                </authentication>
                                <authorization map-groups-to-roles="false">
                                        <properties path="mgmt-groups.properties" relative-to="jboss.server.config.dir"/>
                                </authorization>
                        </security-realm>
                        <security-realm name="ApplicationRealm">
                                <server-identities>
                                        <ssl>
                                                <keystore path="application.keystore" relative-to="jboss.server.config.dir" keystore-password="password" alias="server" key-password="password" generate-self-signed-certificate-host="localhost"/>
                                        </ssl>
                                </server-identities>
                                <authentication>
                                        <local default-user="$local" allowed-users="*" skip-group-loading="true"/>
                                        <properties path="application-users.properties" relative-to="jboss.server.config.dir"/>
                                </authentication>
                                <authorization>
                                        <properties path="application-roles.properties" relative-to="jboss.server.config.dir"/>
                                </authorization>
                        </security-realm>
                </security-realms>
                <audit-log>
                        <formatters>
                                <json-formatter name="json-formatter"/>
                        </formatters>
                        <handlers>
                                <syslog-handler name="AUDIT" formatter="json-formatter" syslog-format="RFC3164" facility="LOCAL_USE_0" app-name="wildfly10.audit" truncate="false" max-length="896">
                                        <udp host="localhost"/>
                                </syslog-handler>
                        </handlers>
                        <logger log-boot="true" log-read-only="false" enabled="false">
                                <handlers>
                                        <handler name="AUDIT"/>
                                </handlers>
                        </logger>
                </audit-log>
                <management-interfaces>
                        <http-interface security-realm="ManagementRealm" http-upgrade-enabled="true">
                                <socket-binding http="management-http"/>
                        </http-interface>
                </management-interfaces>
                <access-control provider="simple">
                        <role-mapping>
                                <role name="SuperUser">
                                        <include>
                                                <user name="$local"/>
                                        </include>
                                </role>
                        </role-mapping>
                </access-control>
        </management>

        <profile>
                <subsystem xmlns="urn:jboss:domain:logging:3.0">
                        <console-handler name="CONSOLE">
                                <level name="INFO"/>
                                <formatter>
                                        <named-formatter name="COLOR-PATTERN"/>
                                </formatter>
                        </console-handler>
                        <custom-handler name="FILE" class="org.jboss.logmanager.handlers.SyslogHandler" module="org.jboss.logmanager">
                                <formatter>
                                        <named-formatter name="PATTERN"/>
                                </formatter>
                                <properties>
                                        <property name="syslogType" value="RFC3164"/>
                                        <property name="appName" value="wildfly10.server"/>
                                        <property name="facility" value="LOCAL_USE_0"/>
                                        <property name="truncate" value="false"/>
                                        <property name="maxLength" value="896"/>
                                </properties>
                        </custom-handler>
                        <logger category="org.apache.activemq.artemis.core.server">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.apache.activemq.artemis.ra">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.apache.deltaspike.core.impl.config">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.apache.deltaspike.core.util">
                                <level name="WARN"/>
                        </logger>
                        <logger category="com.arjuna">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.hibernate.validator.internal.util">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.infinispan.configuration.cache">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.infinispan.factories">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.jboss.as.config">
                                <level name="DEBUG"/>
                        </logger>
                        <logger category="org.jboss.as.dependency.private">
                                <level name="ERROR"/>
                        </logger>
                        <logger category="org.jboss.as.clustering.infinispan">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.jboss.as.dependency.deprecated">
                                <level name="ERROR"/>
                        </logger>
                        <logger category="org.jboss.as.ejb3">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.jboss.as.mail.extension">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.jboss.as.naming">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.jboss.as.weld">
                                <level name="ERROR"/>
                        </logger>
                        <logger category="org.jboss.weld">
                                <level name="ERROR"/>
                        </logger>
                        <logger category="org.wildfly.extension.messaging-activemq">
                                <level name="WARN"/>
                        </logger>
                        <logger category="org.xnio">
                                <level name="WARN"/>
                        </logger>
                        <logger category="sun.rmi">
                                <level name="WARN"/>
                        </logger>
                        <root-logger>
                                <level name="INFO"/>
                                <handlers>
                                        <handler name="CONSOLE"/>
                                        <handler name="FILE"/>
                                </handlers>
                        </root-logger>
                        <formatter name="PATTERN">
                                <pattern-formatter pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                        </formatter>
                        <formatter name="COLOR-PATTERN">
                                <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                        </formatter>
                        <logging-profiles>
                                <logging-profile name="flygres-plugin-breeze">
                                        <console-handler name="CONSOLE_HANDLER">
                                                <level name="INFO"/>
                                                <formatter>
                                                        <named-formatter name="CONSOLE_PATTERN"/>
                                                </formatter>
                                        </console-handler>
                                        <custom-handler name="FILE_HANDLER" class="org.jboss.logmanager.handlers.SyslogHandler" module="org.jboss.logmanager">
                                                <formatter>
                                                        <named-formatter name="FILE_PATTERN"/>
                                                </formatter>
                                                <properties>
                                                        <property name="syslogType" value="RFC3164"/>
                                                        <property name="appName" value="wildfly10.plugin.breeze"/>
                                                        <property name="facility" value="LOCAL_USE_0"/>
                                                        <property name="truncate" value="false"/>
                                                        <property name="maxLength" value="896"/>
                                                </properties>
                                        </custom-handler>
                                        <formatter name="FILE_PATTERN">
                                                <pattern-formatter pattern="%-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <formatter name="CONSOLE_PATTERN">
                                                <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <root-logger>
                                                <level name="INFO"/>
                                                <handlers>
                                                        <handler name="CONSOLE_HANDLER"/>
                                                        <handler name="FILE_HANDLER"/>
                                                </handlers>
                                        </root-logger>
                                </logging-profile>
                                <logging-profile name="flygres-plugin-esimo">
                                        <console-handler name="CONSOLE_HANDLER">
                                                <level name="INFO"/>
                                                <formatter>
                                                        <named-formatter name="CONSOLE_PATTERN"/>
                                                </formatter>
                                        </console-handler>
                                        <custom-handler name="FILE_HANDLER" class="org.jboss.logmanager.handlers.SyslogHandler" module="org.jboss.logmanager">
                                                <formatter>
                                                        <named-formatter name="FILE_PATTERN"/>
                                                </formatter>
                                                <properties>
                                                        <property name="syslogType" value="RFC3164"/>
                                                        <property name="appName" value="wildfly10.plugin.esimo"/>
                                                        <property name="facility" value="LOCAL_USE_0"/>
                                                        <property name="truncate" value="false"/>
                                                        <property name="maxLength" value="896"/>
                                                </properties>
                                        </custom-handler>
                                        <formatter name="FILE_PATTERN">
                                                <pattern-formatter pattern="%-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <formatter name="CONSOLE_PATTERN">
                                                <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <root-logger>
                                                <level name="INFO"/>
                                                <handlers>
                                                        <handler name="CONSOLE_HANDLER"/>
                                                        <handler name="FILE_HANDLER"/>
                                                </handlers>
                                        </root-logger>
                                </logging-profile>
                                <logging-profile name="flygres-plugin-osm-far">
                                        <console-handler name="CONSOLE_HANDLER">
                                                <level name="INFO"/>
                                                <formatter>
                                                        <named-formatter name="CONSOLE_PATTERN"/>
                                                </formatter>
                                        </console-handler>
                                        <custom-handler name="FILE_HANDLER" class="org.jboss.logmanager.handlers.SyslogHandler" module="org.jboss.logmanager">
                                                <formatter>
                                                        <named-formatter name="FILE_PATTERN"/>
                                                </formatter>
                                                <properties>
                                                        <property name="syslogType" value="RFC3164"/>
                                                        <property name="appName" value="wildfly10.plugin.osm-far"/>
                                                        <property name="facility" value="LOCAL_USE_0"/>
                                                        <property name="truncate" value="false"/>
                                                        <property name="maxLength" value="896"/>
                                                </properties>
                                        </custom-handler>
                                        <formatter name="FILE_PATTERN">
                                                <pattern-formatter pattern="%-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <formatter name="CONSOLE_PATTERN">
                                                <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <root-logger>
                                                <level name="INFO"/>
                                                <handlers>
                                                        <handler name="CONSOLE_HANDLER"/>
                                                        <handler name="FILE_HANDLER"/>
                                                </handlers>
                                        </root-logger>
                                </logging-profile>
                                <logging-profile name="flygres-plugin-pvdnp">
                                        <console-handler name="CONSOLE_HANDLER">
                                                <level name="INFO"/>
                                                <formatter>
                                                        <named-formatter name="CONSOLE_PATTERN"/>
                                                </formatter>
                                        </console-handler>
                                        <custom-handler name="FILE_HANDLER" class="org.jboss.logmanager.handlers.SyslogHandler" module="org.jboss.logmanager">
                                                <formatter>
                                                        <named-formatter name="FILE_PATTERN"/>
                                                </formatter>
                                                <properties>
                                                        <property name="syslogType" value="RFC3164"/>
                                                        <property name="appName" value="wildfly10.plugin.pvdnp"/>
                                                        <property name="facility" value="LOCAL_USE_0"/>
                                                        <property name="truncate" value="false"/>
                                                        <property name="maxLength" value="896"/>
                                                </properties>
                                        </custom-handler>
                                        <formatter name="FILE_PATTERN">
                                                <pattern-formatter pattern="%-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <formatter name="CONSOLE_PATTERN">
                                                <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <root-logger>
                                                <level name="INFO"/>
                                                <handlers>
                                                        <handler name="CONSOLE_HANDLER"/>
                                                        <handler name="FILE_HANDLER"/>
                                                </handlers>
                                        </root-logger>
                                </logging-profile>
                                <logging-profile name="flygres-plugin-rifma">
                                        <console-handler name="CONSOLE_HANDLER">
                                                <level name="INFO"/>
                                                <formatter>
                                                        <named-formatter name="CONSOLE_PATTERN"/>
                                                </formatter>
                                        </console-handler>
                                        <custom-handler name="FILE_HANDLER" class="org.jboss.logmanager.handlers.SyslogHandler" module="org.jboss.logmanager">
                                                <formatter>
                                                        <named-formatter name="FILE_PATTERN"/>
                                                </formatter>
                                                <properties>
                                                        <property name="syslogType" value="RFC3164"/>
                                                        <property name="appName" value="wildfly10.plugin.rifma"/>
                                                        <property name="facility" value="LOCAL_USE_0"/>
                                                        <property name="truncate" value="false"/>
                                                        <property name="maxLength" value="896"/>
                                                </properties>
                                        </custom-handler>
                                        <formatter name="FILE_PATTERN">
                                                <pattern-formatter pattern="%-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <formatter name="CONSOLE_PATTERN">
                                                <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <root-logger>
                                                <level name="INFO"/>
                                                <handlers>
                                                        <handler name="CONSOLE_HANDLER"/>
                                                        <handler name="FILE_HANDLER"/>
                                                </handlers>
                                        </root-logger>
                                </logging-profile>
                                <logging-profile name="flygres-plugin-sdno">
                                        <console-handler name="CONSOLE_HANDLER">
                                                <level name="INFO"/>
                                                <formatter>
                                                        <named-formatter name="CONSOLE_PATTERN"/>
                                                </formatter>
                                        </console-handler>
                                        <custom-handler name="FILE_HANDLER" class="org.jboss.logmanager.handlers.SyslogHandler" module="org.jboss.logmanager">
                                                <formatter>
                                                        <named-formatter name="FILE_PATTERN"/>
                                                </formatter>
                                                <properties>
                                                        <property name="syslogType" value="RFC3164"/>
                                                        <property name="appName" value="wildfly10.plugin.sdno"/>
                                                        <property name="facility" value="LOCAL_USE_0"/>
                                                        <property name="truncate" value="false"/>
                                                        <property name="maxLength" value="896"/>
                                                </properties>
                                        </custom-handler>
                                        <formatter name="FILE_PATTERN">
                                                <pattern-formatter pattern="%-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <formatter name="CONSOLE_PATTERN">
                                                <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <root-logger>
                                                <level name="INFO"/>
                                                <handlers>
                                                        <handler name="CONSOLE_HANDLER"/>
                                                        <handler name="FILE_HANDLER"/>
                                                </handlers>
                                        </root-logger>
                                </logging-profile>
                                <logging-profile name="flygres-plugin-gsr">
                                        <console-handler name="CONSOLE_HANDLER">
                                                <level name="INFO"/>
                                                <formatter>
                                                        <named-formatter name="CONSOLE_PATTERN"/>
                                                </formatter>
                                        </console-handler>
                                        <custom-handler name="FILE_HANDLER" class="org.jboss.logmanager.handlers.SyslogHandler" module="org.jboss.logmanager">
                                                <formatter>
                                                        <named-formatter name="FILE_PATTERN"/>
                                                </formatter>
                                                <properties>
                                                        <property name="syslogType" value="RFC3164"/>
                                                        <property name="appName" value="wildfly10.plugin.gsr"/>
                                                        <property name="facility" value="LOCAL_USE_0"/>
                                                        <property name="truncate" value="false"/>
                                                        <property name="maxLength" value="896"/>
                                                </properties>
                                        </custom-handler>
                                        <formatter name="FILE_PATTERN">
                                                <pattern-formatter pattern="%-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <formatter name="CONSOLE_PATTERN">
                                                <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <root-logger>
                                                <level name="INFO"/>
                                                <handlers>
                                                        <handler name="CONSOLE_HANDLER"/>
                                                        <handler name="FILE_HANDLER"/>
                                                </handlers>
                                        </root-logger>
                                </logging-profile>
                                <logging-profile name="flygres-plugin-sync-frontier">
                                        <console-handler name="CONSOLE_HANDLER">
                                                <level name="INFO"/>
                                                <formatter>
                                                        <named-formatter name="CONSOLE_PATTERN"/>
                                                </formatter>
                                        </console-handler>
                                        <custom-handler name="FILE_HANDLER" class="org.jboss.logmanager.handlers.SyslogHandler" module="org.jboss.logmanager">
                                                <formatter>
                                                        <named-formatter name="FILE_PATTERN"/>
                                                </formatter>
                                                <properties>
                                                        <property name="syslogType" value="RFC3164"/>
                                                        <property name="appName" value="wildfly10.plugin.sync-frontier"/>
                                                        <property name="facility" value="LOCAL_USE_0"/>
                                                        <property name="truncate" value="false"/>
                                                        <property name="maxLength" value="896"/>
                                                </properties>
                                        </custom-handler>
                                        <formatter name="FILE_PATTERN">
                                                <pattern-formatter pattern="%-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <formatter name="CONSOLE_PATTERN">
                                                <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <root-logger>
                                                <level name="INFO"/>
                                                <handlers>
                                                        <handler name="CONSOLE_HANDLER"/>
                                                        <handler name="FILE_HANDLER"/>
                                                </handlers>
                                        </root-logger>
                                </logging-profile>
                                <logging-profile name="flygres-plugin-sync-handler-sdno">
                                        <console-handler name="CONSOLE_HANDLER">
                                                <level name="INFO"/>
                                                <formatter>
                                                        <named-formatter name="CONSOLE_PATTERN"/>
                                                </formatter>
                                        </console-handler>
                                        <custom-handler name="FILE_HANDLER" class="org.jboss.logmanager.handlers.SyslogHandler" module="org.jboss.logmanager">
                                                <formatter>
                                                        <named-formatter name="FILE_PATTERN"/>
                                                </formatter>
                                                <properties>
                                                        <property name="syslogType" value="RFC3164"/>
                                                        <property name="appName" value="wildfly10.plugin.sync-handler-sdno"/>
                                                        <property name="facility" value="LOCAL_USE_0"/>
                                                        <property name="truncate" value="false"/>
                                                        <property name="maxLength" value="896"/>
                                                </properties>
                                        </custom-handler>
                                        <formatter name="FILE_PATTERN">
                                                <pattern-formatter pattern="%-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <formatter name="CONSOLE_PATTERN">
                                                <pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>
                                        </formatter>
                                        <root-logger>
                                                <level name="INFO"/>
                                                <handlers>
                                                        <handler name="CONSOLE_HANDLER"/>
                                                        <handler name="FILE_HANDLER"/>
                                                </handlers>
                                        </root-logger>
                                </logging-profile>
                        </logging-profiles>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:batch-jberet:1.0">
                        <default-job-repository name="in-memory"/>
                        <default-thread-pool name="batch"/>
                        <job-repository name="in-memory">
                                <in-memory/>
                        </job-repository>
                        <thread-pool name="batch">
                                <max-threads count="10"/>
                                <keepalive-time time="30" unit="seconds"/>
                        </thread-pool>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:bean-validation:1.0"/>
                <subsystem xmlns="urn:jboss:domain:datasources:4.0">
                        <datasources>
                                <drivers>
                                        <driver name="postgresql" module="org.postgresql">
                                                <xa-datasource-class>org.postgresql.xa.PGXADataSource</xa-datasource-class>
                                        </driver>
                                </drivers>
                        </datasources>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:deployment-scanner:2.0">
                        <deployment-scanner path="deployments" relative-to="jboss.server.base.dir" scan-interval="5000" runtime-failure-causes-rollback="${jboss.deployment.scanner.rollback.on.failure:false}"/>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:ee:4.0">
                        <global-modules>
                                <module name="org.postgresql" slot="main"/>
                                <module name="org.jboss.ironjacamar.jdbcadapters" slot="main"/>
                                <module name="io.netty" slot="main"/>
                                <module name="org.apache.commons.configuration" slot="main"/>
                                <module name="org.apache.commons.codec" slot="main"/>
                                <module name="org.apache.commons.io" slot="main"/>
                                <module name="org.apache.commons.fileupload" slot="main"/>
                                <module name="org.apache.commons.beanutils" slot="main"/>
                                <module name="org.apache.commons.lang3" slot="main"/>
                                <module name="org.apache.odftoolkit" slot="main"/>
                                <module name="org.apache.xerces" slot="main"/>
                                <module name="org.apache.deltaspike.core" slot="main"/>
                                <module name="org.apache.deltaspike.modules" slot="main"/>
                                <module name="org.apache.deltaspike.cdictrl" slot="main"/>
                                <module name="org.freemarker" slot="main"/>
                                <module name="net.lingala.zip4j" slot="main"/>
                                <module name="org.apache.tika" slot="main"/>
                                <module name="org.jboss.remoting" slot="main"/>
                                <module name="org.jboss.marshalling" slot="main"/>
                                <module name="org.jboss.marshalling.river" slot="main"/>
                                <module name="org.infinispan" slot="main"/>
                                <module name="org.infinispan.commons" slot="main"/>
                                <module name="org.infinispan.client.hotrod" slot="main"/>
                                <module name="org.infinispan.jcache" slot="main"/>
                                <module name="org.jboss.resteasy.resteasy-jaxrs" slot="main"/>
                                <module name="org.jboss.resteasy.resteasy-cdi" slot="main"/>
                                <module name="org.jboss.resteasy.resteasy-jackson2-provider" slot="main"/>
                                <module name="com.vividsolutions.jts-core" slot="main"/>
                        </global-modules>
                        <spec-descriptor-property-replacement>false</spec-descriptor-property-replacement>
                        <concurrent>
                                <context-services>
                                        <context-service name="default" jndi-name="java:jboss/ee/concurrency/context/default" use-transaction-setup-provider="true"/>
                                </context-services>
                                <managed-thread-factories>
                                        <managed-thread-factory name="default" jndi-name="java:jboss/ee/concurrency/factory/default" context-service="default"/>
                                </managed-thread-factories>
                                <managed-executor-services>
                                        <managed-executor-service name="default" jndi-name="java:jboss/ee/concurrency/executor/default" context-service="default" hung-task-threshold="60000" keepalive-time="5000"/>

                                        <!-- Для плагина rifma -->
                                        <managed-executor-service name="rifma" jndi-name="java:jboss/ee/concurrency/executor/plugin/rifma" context-service="default" hung-task-threshold="60000" core-threads="1" max-threads="1" keepalive-time="5000"/>

                                        <!-- Для плагина gsr -->
                                        <managed-executor-service name="gsr" jndi-name="java:jboss/ee/concurrency/executor/plugin/gsr" context-service="default" hung-task-threshold="60000" core-threads="1" max-threads="1" keepalive-time="5000"/>
                                </managed-executor-services>
                                <managed-scheduled-executor-services>
                                        <managed-scheduled-executor-service name="default" jndi-name="java:jboss/ee/concurrency/scheduler/default" context-service="default" hung-task-threshold="60000" keepalive-time="3000"/>
                                </managed-scheduled-executor-services>
                        </concurrent>
                        <default-bindings context-service="java:jboss/ee/concurrency/context/default" managed-executor-service="java:jboss/ee/concurrency/executor/default" managed-scheduled-executor-service="java:jboss/ee/concurrency/scheduler/default" managed-thread-factory="java:jboss/ee/concurrency/factory/default"/>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:ejb3:4.0">
                        <session-bean>
                                <stateless>
                                        <bean-instance-pool-ref pool-name="slsb-strict-max-pool"/>
                                </stateless>
                                <stateful default-access-timeout="5000" cache-ref="simple" passivation-disabled-cache-ref="simple"/>
                                <singleton default-access-timeout="5000"/>
                        </session-bean>
                        <mdb>
                                <resource-adapter-ref resource-adapter-name="activemq-ra"/>
                                <bean-instance-pool-ref pool-name="mdb-strict-max-pool"/>
                        </mdb>
                        <pools>
                                <bean-instance-pools>
                                        <strict-max-pool name="slsb-strict-max-pool" derive-size="from-worker-pools" instance-acquisition-timeout="5" instance-acquisition-timeout-unit="MINUTES"/>
                                        <strict-max-pool name="mdb-strict-max-pool" derive-size="from-cpu-count" instance-acquisition-timeout="5" instance-acquisition-timeout-unit="MINUTES"/>
                                </bean-instance-pools>
                        </pools>
                        <caches>
                                <cache name="simple"/>
                                <cache name="distributable" passivation-store-ref="infinispan" aliases="passivating clustered"/>
                        </caches>
                        <passivation-stores>
                                <passivation-store name="infinispan" cache-container="ejb" max-size="10000"/>
                        </passivation-stores>
                        <async thread-pool-name="default"/>
                        <timer-service thread-pool-name="default" default-data-store="default-file-store">
                                <data-stores>
                                        <file-data-store name="default-file-store" path="timer-service-data" relative-to="jboss.server.data.dir"/>
                                </data-stores>
                        </timer-service>
                        <remote connector-ref="http-remoting-connector" thread-pool-name="default"/>
                        <thread-pools>
                                <thread-pool name="default">
                                        <max-threads count="10"/>
                                        <keepalive-time time="100" unit="milliseconds"/>
                                </thread-pool>
                        </thread-pools>
                        <default-security-domain value="other"/>
                        <default-missing-method-permissions-deny-access value="true"/>
                        <log-system-exceptions value="true"/>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:io:1.1">
                        <worker name="default"/>
                        <buffer-pool name="default"/>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:infinispan:4.0">
                        <cache-container name="server" default-cache="default" module="org.wildfly.clustering.server">
                                <local-cache name="default">
                                        <transaction mode="BATCH"/>
                                </local-cache>
                        </cache-container>
                        <cache-container name="web" default-cache="passivation" module="org.wildfly.clustering.web.infinispan">
                                <local-cache name="passivation">
                                        <locking isolation="REPEATABLE_READ"/>
                                        <transaction mode="BATCH"/>
                                        <file-store passivation="true" purge="false"/>
                                </local-cache>
                                <local-cache name="persistent">
                                        <locking isolation="REPEATABLE_READ"/>
                                        <transaction mode="BATCH"/>
                                        <file-store passivation="false" purge="false"/>
                                </local-cache>
                                <local-cache name="concurrent">
                                        <file-store passivation="true" purge="false"/>
                                </local-cache>
                        </cache-container>
                        <cache-container name="ejb" aliases="sfsb" default-cache="passivation" module="org.wildfly.clustering.ejb.infinispan">
                                <local-cache name="passivation">
                                        <locking isolation="REPEATABLE_READ"/>
                                        <transaction mode="BATCH"/>
                                        <file-store passivation="true" purge="false"/>
                                </local-cache>
                                <local-cache name="persistent">
                                        <locking isolation="REPEATABLE_READ"/>
                                        <transaction mode="BATCH"/>
                                        <file-store passivation="false" purge="false"/>
                                </local-cache>
                        </cache-container>
                        <cache-container name="flygres" default-cache="longliving" jndi-name="java:jboss/infinispan/container/mw/node">
                                <local-cache name="longliving">
                                        <transaction mode="NONE"/>
                                        <eviction strategy="LIRS" max-entries="1000000"/>
                                        <expiration interval="60000" lifespan="-1" max-idle="-1"/>
                                </local-cache>
                                <local-cache name="shortlived">
                                        <transaction mode="NONE"/>
                                        <eviction strategy="LIRS" max-entries="1000000"/>
                                        <expiration interval="60000" lifespan="-1" max-idle="-1"/>
                                </local-cache>
                                <local-cache name="foreign">
                                        <transaction mode="NONE"/>
                                        <eviction strategy="LIRS" max-entries="1000000"/>
                                        <expiration interval="60000" lifespan="-1" max-idle="-1"/>
                                </local-cache>
                                <local-cache name="metamodel">
                                        <transaction mode="NONE"/>
                                        <eviction strategy="LIRS" max-entries="1000000"/>
                                        <expiration interval="60000" lifespan="-1" max-idle="-1"/>
                                </local-cache>
                        </cache-container>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:jaxrs:1.0"/>
                <subsystem xmlns="urn:jboss:domain:jca:4.0">
                        <archive-validation enabled="true" fail-on-error="true" fail-on-warn="false"/>
                        <bean-validation enabled="true"/>
                        <default-workmanager>
                                <short-running-threads>
                                        <core-threads count="50"/>
                                        <queue-length count="50"/>
                                        <max-threads count="50"/>
                                        <keepalive-time time="10" unit="seconds"/>
                                </short-running-threads>
                                <long-running-threads>
                                        <core-threads count="50"/>
                                        <queue-length count="50"/>
                                        <max-threads count="50"/>
                                        <keepalive-time time="10" unit="seconds"/>
                                </long-running-threads>
                        </default-workmanager>
                        <cached-connection-manager/>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:jdr:1.0"/>
                <subsystem xmlns="urn:jboss:domain:jmx:1.3">
                        <expose-resolved-model/>
                        <expose-expression-model/>
                        <remoting-connector/>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:jsf:1.0"/>
                <subsystem xmlns="urn:jboss:domain:mail:2.0">
                        <mail-session name="default" jndi-name="java:jboss/mail/Default">
                                <smtp-server outbound-socket-binding-ref="mail-smtp"/>
                        </mail-session>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:messaging-activemq:1.0">
                        <server name="default">
                                <security-setting name="#">
                                        <role name="guest" send="true" consume="true" create-non-durable-queue="true" delete-non-durable-queue="true"/>
                                </security-setting>
                                <address-setting name="#" dead-letter-address="jms.queue.DLQ" expiry-address="jms.queue.ExpiryQueue" max-size-bytes="10485760" page-size-bytes="2097152" message-counter-history-day-limit="10"/>
                                <http-connector name="http-connector" socket-binding="http" endpoint="http-acceptor"/>
                                <http-connector name="http-connector-throughput" socket-binding="http" endpoint="http-acceptor-throughput">
                                        <param name="batch-delay" value="50"/>
                                </http-connector>
                                <in-vm-connector name="in-vm" server-id="0"/>
                                <http-acceptor name="http-acceptor" http-listener="default"/>
                                <http-acceptor name="http-acceptor-throughput" http-listener="default">
                                        <param name="batch-delay" value="50"/>
                                        <param name="direct-deliver" value="false"/>
                                </http-acceptor>
                                <in-vm-acceptor name="in-vm" server-id="0"/>
                                <jms-queue name="ExpiryQueue" entries="java:/jms/queue/ExpiryQueue"/>
                                <jms-queue name="DLQ" entries="java:/jms/queue/DLQ"/>
                                <jms-queue name="flygres" entries="java:/jms/queue/flygres"/>
                                <jms-queue name="replyQueue" entries="java:/jms/queue/replyQueue"/>
                                <jms-topic name="flygres" entries="java:/jms/topic/flygres"/>
                                <connection-factory name="InVmConnectionFactory" entries="java:/ConnectionFactory" connectors="in-vm"/>
                                <connection-factory name="RemoteConnectionFactory" entries="java:jboss/exported/jms/RemoteConnectionFactory" connectors="http-connector"/>
                                <pooled-connection-factory name="activemq-ra" entries="java:/JmsXA java:jboss/DefaultJMSConnectionFactory" connectors="in-vm" transaction="xa"/>
                                <pooled-connection-factory name="LocalConnectionFactory" entries="java:/LocalConnectionFactory" connectors="in-vm"/>
                        </server>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:naming:2.0">
                        <remote-naming/>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:pojo:1.0"/>
                <subsystem xmlns="urn:jboss:domain:remoting:3.0">
                        <endpoint/>
                        <http-connector name="http-remoting-connector" connector-ref="default" security-realm="ApplicationRealm"/>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:resource-adapters:4.0"/>
                <subsystem xmlns="urn:jboss:domain:request-controller:1.0"/>
                <subsystem xmlns="urn:jboss:domain:sar:1.0"/>
                <subsystem xmlns="urn:jboss:domain:security-manager:1.0">
                        <deployment-permissions>
                                <maximum-set>
                                        <permission class="java.security.AllPermission"/>
                                </maximum-set>
                        </deployment-permissions>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:security:1.2">
                        <security-domains>
                                <security-domain name="other" cache-type="default">
                                        <authentication>
                                                <login-module code="Remoting" flag="optional">
                                                        <module-option name="password-stacking" value="useFirstPass"/>
                                                </login-module>
                                                <login-module code="RealmDirect" flag="required">
                                                        <module-option name="password-stacking" value="useFirstPass"/>
                                                </login-module>
                                        </authentication>
                                </security-domain>
                                <security-domain name="jboss-web-policy" cache-type="default">
                                        <authorization>
                                                <policy-module code="Delegating" flag="required"/>
                                        </authorization>
                                </security-domain>
                                <security-domain name="jboss-ejb-policy" cache-type="default">
                                        <authorization>
                                                <policy-module code="Delegating" flag="required"/>
                                        </authorization>
                                </security-domain>
                                <security-domain name="jaspitest" cache-type="default">
                                        <authentication-jaspi>
                                                <login-module-stack name="dummy">
                                                        <login-module code="Dummy" flag="optional"/>
                                                </login-module-stack>
                                                <auth-module code="Dummy"/>
                                        </authentication-jaspi>
                                </security-domain>
                        </security-domains>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:transactions:3.0">
                        <core-environment>
                                <process-id>
                                        <uuid/>
                                </process-id>
                        </core-environment>
                        <recovery-environment socket-binding="txn-recovery-environment" status-socket-binding="txn-status-manager"/>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:undertow:3.1">
                        <buffer-cache name="default"/>
                        <server name="default-server">
                                <http-listener name="default" socket-binding="http" redirect-socket="https" enable-http2="true"/>
                                <https-listener name="https" socket-binding="https" security-realm="ApplicationRealm" enable-http2="true"/>
                                <host name="default-host" alias="localhost">
                                        <location name="/" handler="welcome-content"/>
                                        <filter-ref name="server-header"/>
                                        <filter-ref name="x-powered-by-header"/>
                                </host>
                        </server>
                        <server name="inner">
                                <http-listener name="inner" socket-binding="inner"/>
                                <host name="inner" alias="127.0.0.1"/>
                        </server>
                        <servlet-container name="default">
                                <jsp-config/>
                                <websockets/>
                        </servlet-container>
                        <handlers>
                                <file name="welcome-content" path="${jboss.home.dir}/welcome-content"/>
                        </handlers>
                        <filters>
                                <response-header name="server-header" header-name="Server" header-value="WildFly/10"/>
                                <response-header name="x-powered-by-header" header-name="X-Powered-By" header-value="Undertow/1"/>
                        </filters>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:webservices:2.0">
                        <wsdl-host>${jboss.bind.address:127.0.0.1}</wsdl-host>
                        <endpoint-config name="Standard-Endpoint-Config"/>
                        <endpoint-config name="Recording-Endpoint-Config">
                                <pre-handler-chain name="recording-handlers" protocol-bindings="##SOAP11_HTTP ##SOAP11_HTTP_MTOM ##SOAP12_HTTP ##SOAP12_HTTP_MTOM">
                                        <handler name="RecordingHandler" class="org.jboss.ws.common.invocation.RecordingServerHandler"/>
                                </pre-handler-chain>
                        </endpoint-config>
                        <client-config name="Standard-Client-Config"/>
                </subsystem>
                <subsystem xmlns="urn:jboss:domain:weld:3.0"/>
        </profile>

        <interfaces>
                <interface name="management">
                        <inet-address value="${jboss.bind.address.management:0.0.0.0}"/>
                </interface>
                <interface name="public">
                        <inet-address value="${jboss.bind.address:127.0.0.1}"/>
                </interface>
        </interfaces>

        <socket-binding-group name="standard-sockets" default-interface="public" port-offset="${jboss.socket.binding.port-offset:0}">
                <socket-binding name="management-http" interface="management" port="${jboss.management.http.port:9990}"/>
                <socket-binding name="management-https" interface="management" port="${jboss.management.https.port:9993}"/>
                <socket-binding name="inner" interface="management" port="${jboss.management.http.port:8090}"/>
                <socket-binding name="ajp" port="${jboss.ajp.port:8009}"/>
                <socket-binding name="http" port="${jboss.http.port:8080}"/>
                <socket-binding name="https" port="${jboss.https.port:8443}"/>
                <socket-binding name="txn-recovery-environment" port="4712"/>
                <socket-binding name="txn-status-manager" port="4713"/>
                <outbound-socket-binding name="mail-smtp">
                        <remote-destination host="localhost" port="25"/>
                </outbound-socket-binding>
        </socket-binding-group>

</server>