## -*- shell-script -*- ######################################################
##                                                                          ##
##  JBoss Bootstrap Script Configuration                                    ##
##                                                                          ##
##############################################################################

#
# This file is optional; it may be removed if not needed.
#

#
# Specify the maximum file descriptor limit, use "max" or "maximum" to use
# the default, as queried by the system.
#
# Defaults to "maximum"
#
#MAX_FD="maximum"

#
# Specify the profiler configuration file to load.
#
# Default is to not load profiler configuration file.
#
#PROFILER=""

#
# Specify the location of the Java home directory.  If set then $JAVA will
# be defined to $JAVA_HOME/bin/java, else $JAVA will be "java".
#
#JAVA_HOME="/opt/java/jdk"

#
# Specify the exact Java VM executable to use.
#
#JAVA=""

if [ "x$JBOSS_MODULES_SYSTEM_PKGS" = "x" ]; then
   JBOSS_MODULES_SYSTEM_PKGS="org.jboss.byteman"
fi

# Uncomment the following line to prevent manipulation of JVM options
# by shell scripts.
#
#PRESERVE_JAVA_OPTS=true

#
# Specify options to pass to the Java VM.
#
if [ "x$JAVA_OPTS" = "x" ]; then
   # Memory and arch settings
   JAVA_OPTS="-d64 -Xss256k -Xms{{java_min_usage}}m -Xmx{{java_max_usage}}m -XX:+UseFastAccessorMethods -Xverify:none"
   #JAVA_OPTS="$JAVA_OPTS -XX:MetaspaceSize=256M -XX:MaxMetaspaceSize=512m"
   # GC tune
   JAVA_OPTS="$JAVA_OPTS -XX:+DisableExplicitGC -XX:+UseG1GC"
   # Optimization options
   JAVA_OPTS="$JAVA_OPTS -XX:+UseCompressedOops -XX:+OptimizeStringConcat -XX:+DoEscapeAnalysis"
   JAVA_OPTS="$JAVA_OPTS -XX:+AggressiveOpts -XX:+OptimizeFill"
   # JIT settings
   JAVA_OPTS="$JAVA_OPTS -XX:+TieredCompilation -XX:ReservedCodeCacheSize=256m"
   # Use IPv4
   JAVA_OPTS="$JAVA_OPTS -Djava.net.preferIPv4Stack=true"
   # Speed up random
   JAVA_OPTS="$JAVA_OPTS -Djava.security.egd=file:/dev/./urandom"
   # Disable canon file caching
   JAVA_OPTS="$JAVA_OPTS -Dsun.io.useCanonCaches=false -Dsun.io.useCanonPrefixCache=false"

   JAVA_OPTS="$JAVA_OPTS -Djboss.modules.system.pkgs=$JBOSS_MODULES_SYSTEM_PKGS -Djava.awt.headless=true"

   JAVA_OPTS_DEBUG="-ea -XX:+UnlockDiagnosticVMOptions"
   JAVA_OPTS_DEBUG="$JAVA_OPTS_DEBUG -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/var/log/wildfly10/HeapDumpOnOOMError.hprof"

   #JAVA_OPTS="$JAVA_OPTS $JAVA_OPTS_DEBUG"
else
   echo "JAVA_OPTS already set in environment; overriding default settings with values: $JAVA_OPTS"
fi

# Sample JPDA settings for remote socket debugging
#JAVA_OPTS="$JAVA_OPTS -agentlib:jdwp=transport=dt_socket,address=8787,server=y,suspend=n"

# Sample JPDA settings for shared memory debugging
#JAVA_OPTS="$JAVA_OPTS -agentlib:jdwp=transport=dt_shmem,server=y,suspend=n,address=jboss"

# Uncomment to not use JBoss Modules lockless mode
#JAVA_OPTS="$JAVA_OPTS -Djboss.modules.lockless=false"

# Uncomment to gather JBoss Modules metrics
#JAVA_OPTS="$JAVA_OPTS -Djboss.modules.metrics=true"

# Uncomment this to run with a security manager enabled
# SECMGR="true"

# Uncomment this in order to be able to run WildFly on FreeBSD
# when you get "epoll_create function not implemented" message in dmesg output
#JAVA_OPTS="$JAVA_OPTS -Djava.nio.channels.spi.SelectorProvider=sun.nio.ch.PollSelectorProvider"