#!/bin/sh
#
#  GIS Server Webgiocal init script
#
#  $Id: 0e8bef0c-2696-44cb-861c-bf5bca43f515 $
#
# chkconfig: 235 20 80
# description: Calculation Task Server Configuration Daemon
# processname: WebGio
# pidfile: /var/run/webgiocalc/webgiocalc.pid
### BEGIN INIT INFO
# Provides: WebGio
# Required-Start: $local_fs $network
# Required-Stop: $null
# Should-Start: dkms_autoinstaller
# Should-Stop: $null
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Description:  Calculation Task Server Configuration Daemon
### END INIT INFO


#XVFB_DISPLAY=:25

LC_ALL=ru_RU.UTF-8
LANG=ru_RU.UTF-8
export LC_ALL
export LANG

ARGUN="{{webgio_config_ini.split('/')[0:-6] | join('/')}}"
WORK="$ARGUN/{{webgio_config_ini.split('/')[3:-3] | join('/')}}"
LIBDB="$WORK/{{start_WebGio.split('/')[6:-2] | join('/')}}"

if [ ! -d /var/run/webgiocalc ]
then
   mkdir -p /var/run/webgiocalc
fi

DAEMON="$WORK/{{start_WebGio.split('/')[6:-1] | join('/')}}/WebGio"
PIDFILE="/var/run/webgiocalc/webgiocalc.pid"
TIMEOUT=300

LOG="/var/log/webgiocal.log"

EXIT_SUCCESS=0
EXIT_FAILURE_NOFILE=1
EXIT_FAILURE_RUNNING=2
EXIT_FAILURE_NOT_RUNNING=3
EXIT_FAILURE_TIMEOUT=4
EXIT_FAILURE_NOARGS=5
EXIT_FAILURE_NOT_ROOT=6

STATUS_NOPID=1
STATUS_ALIVE=0
STATUS_NOT_ALIVE=2
STATUS_WRONG_PID=3

if test -n "$1" -a ! "$1" = "status" ; then
    case "`id`" in
        uid=0*)
        ;;
        *)
            echo "$0 $1 must be executed with root privileges"
            exit $EXIT_FAILURE_NOT_ROOT
        ;;
    esac
fi

get_pid() {
    head -1 "$PIDFILE" 2>/dev/null
}

check_pid() {
    if test -r "$PIDFILE" ; then
        pid=`get_pid`
        if test -n "$pid" ; then
            if kill -0 "$pid" 2>/dev/null || ps -p "$pid" >/dev/null 2>&1 ; then
                return $STATUS_ALIVE
            else
                return $STATUS_NOT_ALIVE
            fi
        else
            return $STATUS_WRONG_PID
        fi
    else
        return $STATUS_NOPID
    fi
}

start_daemon() {
    if test ! -x "$DAEMON" ; then
        echo "Webgiocalc is not installed"
        exit $EXIT_FAILURE_NOFILE
    fi

    if test $USE_SYSTEMCTL -eq 1; then
        /bin/systemctl --job-mode=ignore-dependencies start webgiocalc.service
        return $?
    fi

    if [ ! -e "$PIDFILE" ]; then
       > "$PIDFILE"
    fi

        export PATH=$WORK/lib/webgiocalc4.0/gisargun:$PATH
        export QT_QPA_FONTDIR="$ARGUN/common/DataGisBase/_fonts"
        export LD_LIBRARY_PATH=$LIBDB/qt:$LIBDB/extern:$LIBDB/gisargun:$LIBDB/gisargun/plugins:$LD_LIBRARY_PATH

        nohup "$DAEMON" --platform offscreen >>"$LOG" 2>&1 &

        if [ -e "$PIDFILE" ]; then
           sleep 1s;
           ps aux  | grep $DAEMON | grep -v grep | awk {'print$2'} | tee $PIDFILE 2>&1 > /dev/null
        fi

    retval=$?
    return $retval
}

stop_daemon() {
    if test $USE_SYSTEMCTL -eq 1; then
        /bin/systemctl --job-mode=ignore-dependencies stop webgiocalc.service
        return $?
    fi
    pid=`get_pid`
    if test -n "$pid" ; then
        kill "$pid"
    fi
    seconds=0
    retval=0
    while check_pid ; do
        sleep 1
        printf "."
        seconds=`expr $seconds + 1`
        if test "$seconds" -gt "$TIMEOUT" ; then
            retval=1
            break
        fi
    done
    test "$seconds" -gt "0" && echo
    test $retval -eq 0 && rm -f "$PIDFILE"
    return $retval
}

die() {
    echo "$2" && exit $1
}

die_if_running() {
    check_pid && die $EXIT_FAILURE_RUNNING "Calculation Task Server Webgiocalc is already running"
}

check_if_not_running() {
    check_pid
    case "$?" in
        $STATUS_NOPID) echo "Calculation Task Server Webgiocalc is not running"
                       exit $EXIT_SUCCESS
                       ;;
        $STATUS_NOT_ALIVE|$STATUS_WRONG_PID) die $EXIT_FAILURE_NOT_RUNNING \
            "Calculation Task Server Webgiocalc is not running but $PIDFILE exists" ;;
    esac
}

die_if_timeout() {
    die $EXIT_FAILURE_RUNNING "Calculation Task Server Webgiocalc seems is still running"
}

die_if_cant_start() {
    die $EXIT_FAILURE_NOT_RUNNING "Failed to start Calculation Task Server Webgiocalc"
}

USE_SYSTEMCTL=0
if cat /proc/1/comm 2>/dev/null | grep systemd 1>/dev/null 2>&1; then

    state=$(/bin/systemctl -p LoadState show webgiocalc.service 2>/dev/null)

    if test "$state" = "LoadState=not-found"; then
        USE_SYSTEMCTL=0
    elif test "$state" = "LoadState=masked"; then
        die $EXIT_SUCCESS "Calculation Task Server Webgiocalc is masked"
    else
        if test $PPID -ne 1 -a -z "${init:-}" -a -z "${SYSTEMCTL_REDIRECT:-}"; then
            USE_SYSTEMCTL=1
        else
            export SYSTEMCTL_REDIRECT=1
        fi
    fi
fi

case "$1" in
    stop)
        echo "Shutting down Calculation Task Server Webgiocalc..."
        check_if_not_running
        stop_daemon || die_if_timeout
    ;;
    reload)
        echo "Reloading Calculation Task Server Webgiocalc..."
        check_if_not_running
        pid=`get_pid`
        if test -n "$pid" ; then
            kill -HUP "$pid"
        fi
        start_daemon || die_if_cant_start
    ;;
    restart)
        echo "Restarting Calculation Task Server Webgiocalc..."
        if check_pid ; then
            stop_daemon || die_if_timeout
        fi
        start_daemon || die_if_cant_start
    ;;
    condrestart)
        echo "Restarting Calculation Task Server Webgiocalc..."
        check_if_not_running
        stop_daemon || die_if_timeout
        start_daemon || die_if_cant_start
    ;;
    start)
        die_if_running
        echo "Starting Calculation Task Server Webgiocalc..."
        start_daemon || die_if_cant_start
    ;;
    status)
        check_pid
        case "$?" in
            $STATUS_ALIVE) echo "Calculation Task Server Webgiocalc is running PID (`cat $PIDFILE`)" ;;
            $STATUS_NOPID) echo "Calculation Task Server Webgiocalc is not running" ;;
            $STATUS_NOT_ALIVE|$STATUS_WRONG_PID) echo "Calculation Task Server Webgiocalc is not running but $PIDFILE exists" ;;
        esac
    ;;
    *)
        echo "Usage: $0 {start|stop|restart|condrestart|reload|status}"
        exit $EXIT_FAILURE_NOARGS
    ;;
esac

exit $EXIT_SUCCESS0