#!/bin/sh
#
#  GIS Server Webgio2 init script
#
#  $Id: 6625e0e5-572c-4c91-a7bb-52befa34bb55 $
#
# chkconfig: 235 20 80
# description: WebGio2 Gis Service Configuration Daemon
# processname: webgio2_qt5
# pidfile: /var/run/webgio/webgio2_qt5.pid
### BEGIN INIT INFO
# Provides: webgio2_qt5
# Required-Start: $local_fs $network
# Required-Stop: $null
# Should-Start: dkms_autoinstaller
# Should-Stop: $null
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Description:  WebGio2 Gis Service Configuration Daemon
### END INIT INFO


LC_ALL=ru_RU.UTF-8
LANG=ru_RU.UTF-8
export LC_ALL
export LANG


ARGUN="{{webgio_config_json.split('/')[0:-6] | join('/')}}"

WORK="$ARGUN/{{webgio_config_json.split('/')[3:-3] | join('/')}}"
LIBDB="$WORK/{{webgio_config_json.split('/')[6:-1] | join('/')}}"

DAEMON="$WORK/{{start_Webgio2_qt5.split('/')[6:-1] | join('/')}}/webgio2_qt5"
PIDFILE="/var/run/webgio/webgio2_qt5.pid"
TIMEOUT=300

LOG="/var/log/webgio2.log"

EXIT_SUCCESS=0
EXIT_FAILURE_NOFILE=1
EXIT_FAILURE_RUNNING=2
EXIT_FAILURE_NOT_RUNNING=3
EXIT_FAILURE_TIMEOUT=4
EXIT_FAILURE_NOARGS=5
EXIT_FAILURE_NOT_ROOT=6

STATUS_NOPID=1
STATUS_ALIVE=0
STATUS_NOT_ALIVE=2
STATUS_WRONG_PID=3

if test -n "$1" -a ! "$1" = "status" ; then
    case "`id`" in
        uid=0*)
        ;;
        *)
            echo "$0 $1 must be executed with root privileges"
            exit $EXIT_FAILURE_NOT_ROOT
        ;;
    esac
fi

get_pid() {
    head -1 "$PIDFILE" 2>/dev/null
}

check_pid() {
    if test -r "$PIDFILE" ; then
        pid=`get_pid`
        if test -n "$pid" ; then
            if kill -0 "$pid" 2>/dev/null || ps -p "$pid" >/dev/null 2>&1 ; then
                return $STATUS_ALIVE
            else
                return $STATUS_NOT_ALIVE
            fi
        else
            return $STATUS_WRONG_PID
        fi
    else
        return $STATUS_NOPID
    fi
}

start_daemon() {
    if test ! -x "$DAEMON" ; then
        echo "Webgio2 is not installed"
        exit $EXIT_FAILURE_NOFILE
    fi

    if test $USE_SYSTEMCTL -eq 1; then
        /bin/systemctl --job-mode=ignore-dependencies start webgio2.service
        return $?
    fi

    if [ ! -e "$PIDFILE" ]; then
       > "$PIDFILE"
    fi

        export PATH="$PATH:$WORK:$WORK/lib/webgio2_4.2/argun"
        export QT_QPA_FONTDIR="$ARGUN/common/DataGisBase/_fonts"
        export LD_LIBRARY_PATH="$LIBDB/qt:$LIBDB/argun/plugins_core:$LIBDB/extern:$LIBDB/argun/platforms:$LIBDB/argun:$LIBDB/plugins3d:$LIBDB/GisLayersPlugin:$LD_LIBRARY_PATH"

        nohup "$DAEMON" --platform offscreen --background >>"$LOG" 2>&1 &

        if [ -e "$PIDFILE" ]; then
           sleep 1s;
           ps aux  | grep $DAEMON | grep -v grep | awk {'print$2'} | tee $PIDFILE 2>&1 > /dev/null
        fi

    retval=$?
    return $retval
}

stop_daemon() {
    if test $USE_SYSTEMCTL -eq 1; then
        /bin/systemctl --job-mode=ignore-dependencies stop webgio2.service
        return $?
    fi
    pid=`get_pid`
    if test -n "$pid" ; then
        kill "$pid"
    fi
    seconds=0
    retval=0
    while check_pid ; do
        sleep 1
        printf "."
        seconds=`expr $seconds + 1`
        if test "$seconds" -gt "$TIMEOUT" ; then
            retval=1
            break
        fi
    done
    test "$seconds" -gt "0" && echo
    test $retval -eq 0 && rm -f "$PIDFILE"
    return $retval
}

die() {
    echo "$2" && exit $1
}

die_if_running() {
    check_pid && die $EXIT_FAILURE_RUNNING "WebGio2 Gis Service webgio2_qt5 is already running"
}

check_if_not_running() {
    check_pid
    case "$?" in
        $STATUS_NOPID) echo "WebGio2 Gis Service webgio2_qt5 is not running"
                       exit $EXIT_SUCCESS
                       ;;
        $STATUS_NOT_ALIVE|$STATUS_WRONG_PID) die $EXIT_FAILURE_NOT_RUNNING \
            "WebGio2 Gis Service webgio2_qt5 is not running but $PIDFILE exists" ;;
    esac
}

die_if_timeout() {
    die $EXIT_FAILURE_RUNNING "WebGio2 Gis Service webgio2_qt5 seems is still running"
}

die_if_cant_start() {
    die $EXIT_FAILURE_NOT_RUNNING "Failed to start WebGio2 Gis Service webgio2_qt5"
}

USE_SYSTEMCTL=0
if cat /proc/1/comm 2>/dev/null | grep systemd 1>/dev/null 2>&1; then

    state=$(/bin/systemctl -p LoadState show webgio2.service 2>/dev/null)

    if test "$state" = "LoadState=not-found"; then
        USE_SYSTEMCTL=0
    elif test "$state" = "LoadState=masked"; then
        die $EXIT_SUCCESS "WebGio2 Gis Service webgio2_qt5 is masked"
    else
        if test $PPID -ne 1 -a -z "${init:-}" -a -z "${SYSTEMCTL_REDIRECT:-}"; then
            USE_SYSTEMCTL=1
        else
            export SYSTEMCTL_REDIRECT=1
        fi
    fi
fi

case "$1" in
    stop)
        echo "Shutting down WebGio2 Gis Service webgio2_qt5..."
        check_if_not_running
        stop_daemon || die_if_timeout
    ;;
    reload)
        echo "Reloading WebGio2 Gis Service webgio2_qt5..."
        check_if_not_running
        pid=`get_pid`
        if test -n "$pid" ; then
            kill -HUP "$pid"
        fi
        start_daemon || die_if_cant_start
    ;;
    restart)
        echo "Restarting WebGio2 Gis Service webgio2_qt5..."
        if check_pid ; then
            stop_daemon || die_if_timeout
        fi
        start_daemon || die_if_cant_start
    ;;
    condrestart)
        echo "Restarting WebGio2 Gis Service webgio2_qt5..."
        check_if_not_running
        stop_daemon || die_if_timeout
        start_daemon || die_if_cant_start
    ;;
    start)
        die_if_running
        echo "Starting WebGio2 Gis Service webgio2_qt5..."
        start_daemon || die_if_cant_start
    ;;
    status)
        check_pid
        case "$?" in
            $STATUS_ALIVE) echo "WebGio2 Gis Service webgio2_qt5 is running PID (`cat $PIDFILE`)" ;;
            $STATUS_NOPID) echo "WebGio2 Gis Service webgio2_qt5 is not running" ;;
            $STATUS_NOT_ALIVE|$STATUS_WRONG_PID) echo "WebGio2 Gis Service webgio2_qt5 is not running but $PIDFILE exists" ;;
        esac
    ;;
    *)
        echo "Usage: $0 {start|stop|restart|condrestart|reload|status}"
        exit $EXIT_FAILURE_NOARGS
    ;;
esac

exit $EXIT_SUCCESS