server {
        listen 80;
        server_name www.spo{{ ansible_hostname }}sb.local;
        rewrite ^(.*) http://spo{{ ansible_hostname }}sb.local$1 permanent;
}
server {
        listen 80;
        server_name spo{{ ansible_hostname }}sb.local;
        access_log /var/log/nginx/frontier.access_log;
        error_log /var/log/nginx/frontier.error_log;
        server_tokens off;
        client_max_body_size 50m;
#       error_page 404 = @fallback;

        proxy_read_timeout 300s;

        # frontier
        location / {
                root /opt/spo/nginx;
        }
        location /frontier/api/ {
                proxy_pass http://127.0.0.1:8080;
        }
        location ~ ^/frontier/dataList/referenceBook(.*)$ {
                rewrite ^/frontier/dataList/referenceBook(.*)$ /classifier/dataList/referenceBook$1 break;
                proxy_pass http://127.0.0.1:8080;
        }
        location ~ ^/(frontier|map)/(html|dataList|api)/(.*)$ {
                rewrite ^/(frontier|map)/(html|dataList|api)/(.*)$ /frontier/$2/$3 break;
                proxy_pass http://127.0.0.1:8080;
        }
        location ~ ^/(frontier|map)/(detail|creator|modifier|remover|quickSearcher|universal|onestep|file)$ {
                rewrite ^/(frontier|map)/(detail|creator|modifier|remover|quickSearcher|universal|onestep|file)$ /frontier/$2 break;
                proxy_pass http://127.0.0.1:8080;
        }
        location ~ ^/(frontier|map)/workflow/(start|process|finish|cancel)$ {
                rewrite ^/(frontier|map)/workflow/(start|process|finish)$ /frontier/workflow/$2 break;
                proxy_pass http://127.0.0.1:8080;
        }
        location ~ ^/frontier/rbQuickSearcher(.*)$ {
                rewrite ^/frontier/rbQuickSearcher(.*)$ /classifier/rbQuickSearcher$1 break;
                proxy_pass http://127.0.0.1:8080;
        }
        location ~ ^/(frontier|map|scheme)/(notify|ws)$ {
                rewrite ^/(frontier|map|scheme)/(notify|ws)$ /frontier/$2 break;
                proxy_pass http://127.0.0.1:8080;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "upgrade";
                proxy_buffering off;
                proxy_read_timeout 86400s;
                proxy_send_timeout 86400s;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        location ~ ^/frontier/wr/(.*)$ {
                rewrite ^/frontier/wr/(.*)$ /wr/$1 break;
                proxy_pass http://127.0.0.1:8080;
        }
        location ~ ^/(frontier|map)/map/(.*)$ {
                rewrite ^/(frontier|map)/map/(.*)$ /frontier/map/$2 break;
                proxy_pass http://127.0.0.1:8080;
        }
        location ~ ^/frontier/cube/(.*)$ {
                rewrite ^/frontier/cube/(.*)$ /frontier/cube/$1 break;
                proxy_pass http://127.0.0.1:8080; # wildfly context port может отличаться
        }
}