<?xml version="1.0" encoding="UTF-8"?>
<datasources>
        <datasource jndi-name="java:jboss/datasources/flygresDS" pool-name="flygresDS">
                <connection-url>jdbc:postgresql://{{DBIP}}:{{DBPORT}}/{{FLYDB}}</connection-url>
                <driver>postgresql</driver>
                <pool>
                        <min-pool-size>1</min-pool-size>
                        <max-pool-size>15</max-pool-size>
                        <prefill>true</prefill>
                </pool>
                <security>
                        <user-name>{{FLYUSER}}</user-name>
                        <password>{{FLYPASS}}</password>
                </security>
                <validation>
                        <check-valid-connection-sql>select 1</check-valid-connection-sql>
                </validation>
        </datasource>
</datasources>
