upstream szi_web {
                server 127.0.0.1:8080;
        }

upstream szi_gis {
                server {{GISIP}}:{{GISPORT}};
        }
upstream szi_chat {
                server 127.0.0.1:3000;
        }

map $http_upgrade $connection_upgrade {
                default upgrade;
                '' close;
        }



server {
    listen 80 default_server;
    server_name {{HOSTNAME}};
    proxy_http_version                  1.1;
    proxy_redirect                      off;
    proxy_set_header                    Host                           $host;
    proxy_set_header                    X-Real-IP                      $remote_addr;
    proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
    proxy_set_header                    X-Forwarded-Proto              $scheme;
    proxy_set_header                    Access-Control-Allow-Origin    *;
    proxy_buffering                     off;
    proxy_read_timeout                  61s;
    proxy_send_timeout                  61s;

    client_max_body_size 100m;
    access_log /var/log/nginx/middleware.local-access.log;
    error_log /var/log/nginx/middleware.local-error.log;
    root /opt/spo-web-arctic-portal/dist;
    index index.html;

    location / {
         proxy_set_header                    Upgrade                        $http_upgrade;
         proxy_set_header                    Connection                     $connection_upgrade;
         proxy_buffering                     off;
         proxy_read_timeout                  86400s;
         proxy_send_timeout                  86400s;
         add_header X-Served-By "ZAO MVP Swemel";
         try_files $uri $uri/ /index.html;
        }

    location = /favicon.ico {
        try_files $uri =204;
        log_not_found off;
        access_log off;
        expires max;
   }

    location /arctic/ws {
        proxy_pass                          http://szi_web;
        proxy_set_header                    Upgrade                        $http_upgrade;
        proxy_set_header                    Connection                     "upgrade";
    }

    location /arctic/api {
        proxy_pass                          http://szi_web;
        proxy_set_header                    Upgrade                        $http_upgrade;
        proxy_set_header                    Connection                     "upgrade";
    }

    location /classif/tknicon {
        proxy_pass                          http://szi_gis;
        proxy_set_header                    Upgrade                        $http_upgrade;
        proxy_set_header                    Connection                     "upgrade";
    }

    location ~ /gis/(.*)$ {
        proxy_pass                          http://szi_gis/$1;
        add_header X-Proxy-Cache $upstream_cache_status;
    }

    location /tms {
        proxy_pass                          http://szi_gis;
        add_header X-Proxy-Cache $upstream_cache_status;
    }

    location ~ /chat {
        proxy_pass                          http://szi_chat;
        add_header X-Proxy-Cache $upstream_cache_status;
        proxy_set_header                    Upgrade                        $http_upgrade;
        proxy_set_header                    Connection                     "upgrade";
    }

    location ~ /zk {
       return 444;
    }

    location ~ /\. {
        deny all;
    }
}
