<?xml version="1.0"?>
<cluster config_version="6" name="cluster">
	<fencedevices>
		<fencedevice agent="fence_sysrq" name="test"/>
	</fencedevices>
	<dlm enable_fencing="0" enable_quorum="1"/>
	<clusternodes>
		<clusternode name="node1" nodeid="1">
			<fence>
				<method name="vcenter">
					<device login="admin" name="test" nodename="node1" passwd="12345678"/>
				</method>
			</fence>
		</clusternode>
		<clusternode name="node2" nodeid="2">
			<fence>
				<method name="vcenter">
					<device login="admin" name="test" nodename="node2" passwd="12345678"/>
				</method>
			</fence>
		</clusternode>
	</clusternodes>
	<rm>
		<failoverdomains>
			<failoverdomain name="cluster" nofailback="1" ordered="1" restricted="1">
				<failoverdomainnode name="node1" priority="1"/>
				<failoverdomainnode name="node2" priority="2"/>
			</failoverdomain>
		</failoverdomains>
		<resources>
			<ip address="{{ GIS_CLUSTER_IP_OK }}" sleeptime="10"/>
			<script file="/etc/init.d/webgio2" name="webgio2"/>
		</resources>
		<service domain="cluster" exclusive="1" name="webgio2" recovery="restart">
			<ip ref="{{ GIS_CLUSTER_IP_OK }}"/>
			<script ref="webgio2"/>
		</service>
	</rm>
	<cman expected_votes="1" transport="udpu" two_node="1">
		<!-- <multicast addr="234.52.52.52"/> -->
	</cman>
</cluster>