driftfile /var/lib/ntp/ntp.drift
statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable
server {{ NTP_SERVER }}
server 0.{{ansible_distribution}}.pool.ntp.org iburst
server 1.{{ansible_distribution}}.pool.ntp.org iburst
server 2.{{ansible_distribution}}.pool.ntp.org iburst
server 3.{{ansible_distribution}}.pool.ntp.org iburst prefer
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery
restrict 127.0.0.1
restrict -6 ::1
interface ignore wildcard
interface listen eth0
