PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
DebugLevel=4
Server={{ SERVER_ZABBIX }}
ServerActive={{ SERVER_ZABBIX }}
HostMetadata= {{ METAINFO }}
Include=/etc/zabbix/zabbix_agentd.d/
