# Хост базы
DB_HOST={{ ansible_play_batch | first }}
# Порт базы
DB_PORT=5432
# Наименование базы
DB_NAME=frontier
# Владелец (роль, пользователь) базы
DB_OWNER=frontier
# Директория со скриптами
SCRIPT_DIR=./updates
# Таблица истории обновлений
HISTORY_TABLE=public.update_history
# Лог файл
LOG_FILE=./update_history.log
# Игнорировать ошибки (true = игнорировать, false = выход при первой ошибке)
SKIP_FAIL=false
# Включение скрипта наката SZI
ENABLE_SZI_APPLY=true
# Файл скрипта наката
SZI_APPLY_FILE={{ SZI_PUTH }}

# Включение скрипта
ENABLE_FRONTIER_RESOURCE_SCRIPT=true
# Путь до скрипта
FRONTIER_RESOURCE_SCRIPT=./resource_frontier.sql

# Текущий объект
REGION={{ REG }}