current.zone={{ STANDALONE_PROPERTIES_ZONE|upper }}
classifier.rest.url=http://127.0.0.1:8180/classifier/app
frontend.arcticUrl=
middleware.url=http://localhost:8090/arctic/inner-api/graph/gquery
gis.url=http://{{ GISIP }}/giscalc/