<?xml version="1.0" encoding="UTF-8"?>
<datasources>
        <xa-datasource jndi-name="java:jboss/datasources/classifierDS" pool-name="classifierPool">
                <xa-datasource-property name="ServerName">
                        {{ DBIP }}
                </xa-datasource-property>
                <xa-datasource-property name="PortNumber">
                        5432
                </xa-datasource-property>
                <xa-datasource-property name="DatabaseName">
                        classifier
                </xa-datasource-property>
                <driver>postgresql</driver>
                <xa-pool>
                        <min-pool-size>1</min-pool-size>
                        <max-pool-size>15</max-pool-size>
                        <prefill>true</prefill>
                </xa-pool>
                <security>
                        <user-name>classifier</user-name>
                        <password>classifier</password>
                </security>
                <validation>
                        <check-valid-connection-sql>select 1</check-valid-connection-sql>
                </validation>
        </xa-datasource>
</datasources>
