# если настройка установлена в true - обработка ГПК включена
gpkEnabled=true

# адрес сервиса ГПК в СДНО
gpkAddress=http://{{ GPK_IP }}:{{GPK_PORT}}/sea/gpk/shipcalls

# интервал запроса данных по ГПК, мин
gpkInterval=5

# ДЛЯ ТЕСТИРОВАНИЯ: запрос данных, находящихся на {gpkDaysOffset} дней в прошлом относительно текущего времени
# в production-среде должен равняться 0
gpkDaysOffset={{ GPK_DAYS_OFFSET }}

