# если настройка установлена в true - плагин отключён
disablePlugin=false

# адрес сервиса СДНО
sdnoAddress=http://{{SDNO_IP}}:{{SDNO_PORT}}/sea/targetinfo

# количество обрабатываемых записей за один проход
sdnoTargetsInTransaction=100

# если настройка установлена в true, то плагин не будет создавать новые корабли, а только добавлять данные к существующим
disableShipsCreate=false

# если настройка установлена в true, то плагин не будет обновлять существующие корабли, а только добавлять к ним временные точки целей
disableShipsUpdate=false
