#esimoJdbcUrl=jdbc:postgresql://10.1.89.13:6543/bid
esimoJdbcUrl=jdbc:postgresql://{{ESIMO_IP}}:{{ESIMO_PORT}}/bid
esimoLogin=bid
esimoPassword=bidesimo
# область вокруг метеостанций, по которой отбираются точки погодных данных; градусы
hydrometLatitudeDelta=0.03
hydrometLongitudeDelta=0.03
# область Арктики для фильтрации данных ГМУ с судов (прямоугольник); градусы
meteoShipLatMin=50.0
meteoShipLatMax=90.0
meteoShipLonMin=25.0
meteoShipLonMax=-168.0

# область Арктики для фильтрации данных ветрового волнения (прямоугольник); градусы
meteoShipLatMin=50.0
meteoShipLatMax=90.0
meteoShipLonMin=25.0
meteoShipLonMax=-168.0
