[db]
host={{ DBIP }}
port=5432
database={{ FLYDB }}
role=flygres
password=flygres
#limit=50

recon=100

# compression_level from -1 to 9
#  -1    zlib default
#   0    disabled
# 1...9  fast..best
[net]
compression_level=9

# limit size of one batch of files for one sender thread in MiB #6636
files_batch_limit_mb=10

# one receive_port for all incoming connections #6778
receive_port=8001
