$template GRAYLOGRFC5424,"<%PRI%>%PROTOCOL-VERSION% %TIMESTAMP:::date-rfc3339% %HOSTNAME% %APP-NAME% %PROCID% %MSGID% %STRUCTURED-DATA% %msg%\n" 
#*.* @10.1.100.105:1514;GRAYLOGRFC5424
*.* @{{GRAYLOG_IP}}:{{GRAYLOG_PORT}};GRAYLOGRFC5424
