127.0.0.1 localhost {{ ansible_nodename }}

{% for host in play_hosts %}
{{ host }} {{ hostvars[host].cluster_name }}
{% endfor %}
{% for host in groups['ZK_OZ_GIS'] %}
{%- if loop.first -%}
{{ hostvars[host].GIS_CLUSTER_IP }} gisurl
{%- endif -%}
{% endfor %}