#!/bin/bash

INTERFACE={{ INTERFACE }}
INTUP=`/sbin/ifconfig | grep -c $INTERFACE`

start() {

ifup $INTERFACE

sleep 3

echo
echo $"Interface $INTERFACE is up."
echo
return $RETVAL

}

stop() {

ifdown $INTERFACE

sleep 3

echo
echo $"Interface $INTERFACE is down."
echo
return $RETVAL

}

getstatus() {
        if [ $INTUP -lt 1 ];then
                echo
                echo $"Interface $INTERFACE is down."
                echo
                return 1
            fi
                echo
                echo $"Interface $INTERFACE is up."
                echo
                return $RETVAL
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    status)
        getstatus
        ;;
    restart)
        stop
        ;;
    status)
        getstatus
        ;;
    restart)
        stop
        sleep 5
        start
        ;;
    *)
        echo "Usage: $PROG_NAME {start|stop|status|restart}"
        exit 1
        ;;
esac
exit $RETVAL
