<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проверка работы Flygres</title>
    <style>
        body, html {
            margin: 0;
        }

        #content {
            margin: 20px;
        }
    </style>
</head>
<body>
<div id="content"></div>
<script>
  var el = document.getElementById('content')
  var xhr = new XMLHttpRequest()

  xhr.open('GET', '/arctic/inner-api/info/version', true)
  xhr.setRequestHeader('Content-Type', 'application/json')

  xhr.addEventListener('error', function () {
    el.innerText = 'Ошибка'
  })

  xhr.addEventListener('load', function () {
    if (xhr.status < 200 || xhr.status >= 300) {
      if (xhr.status === 401) {
        el.innerText = 'Требуется аутентификация'
      } else if (xhr.status === 404) {
        el.innerText = 'Сервер не запущен'
      } else {
        el.innerText = 'Неизвестная ошибка'
      }
    } else {
      var data = JSON.parse(xhr.response)
      el.innerHTML = '<p>Версия базы данных: ' + data['db-version'] + '</p>' +
        '<p>Версия бекенда: ' + data['project-version'] + '</p>';
    }
  })

  xhr.send()
</script>
</body>
</html>
