PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
DebugLevel=2
Server={{ SERVER_ZABBIX }}
ServerActive={{ SERVER_ZABBIX }}
Include=/etc/zabbix/zabbix_agentd.d/
HostMetadata={{ METAINFO }}
Hostname={{ ansible_fqdn }}
