<?xml version="1.0" encoding="UTF-8"?>
<datasources>
	<xa-datasource jndi-name="java:jboss/datasources/frontierDS" pool-name="frontierPool" enabled="true">
		<xa-datasource-property name="ServerName">
			{{ groups['ZK_OZ_DB'][0] }}
		</xa-datasource-property>
		<xa-datasource-property name="PortNumber">
			5432
		</xa-datasource-property>
		<xa-datasource-property name="DatabaseName">
			frontier
		</xa-datasource-property>
		<driver>postgresql</driver>
		<xa-pool>
			<min-pool-size>2</min-pool-size>
			<max-pool-size>30</max-pool-size>
			<prefill>true</prefill>
			<use-strict-min>false</use-strict-min>
			<flush-strategy>FailingConnectionOnly</flush-strategy>
		</xa-pool>
		<security>
			<user-name>frontier</user-name>
			<password>{{ PASSWORD_DB }}</password>
		</security>
		<timeout>
			<blocking-timeout-millis>30000</blocking-timeout-millis>
			<idle-timeout-minutes>10</idle-timeout-minutes>
		</timeout>
	</xa-datasource>
</datasources>