server {
    listen 80;
    server_name {{ HOSTNAME_L1C1_INT }};

    client_max_body_size 100m;

    access_log /var/log/nginx/middleware.local-access.log;
    error_log /var/log/nginx/middleware.local-error.log;

    root /opt/spo-web-arctic-portal/dist;

    index index.html;

    location /arctic/api {
        proxy_http_version                  1.1;
        proxy_pass                          http://127.0.0.1:8080;
        proxy_redirect                      off;
        proxy_set_header                    Host                           $host;
        proxy_set_header                    X-Real-IP                      $remote_addr;
        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                    X-Forwarded-Proto              $scheme;
        proxy_set_header                    Access-Control-Allow-Origin    *;
        proxy_buffering                     off;
        proxy_read_timeout                  3600;
        proxy_send_timeout                  90;
        proxy_connect_timeout               5;
        client_max_body_size                10m;
    }

    location /arctic/ws {
        proxy_http_version                  1.1;
        proxy_pass                          http://127.0.0.1:8080;
        proxy_redirect                      off;
        proxy_set_header                    Host                           $host;
        proxy_set_header                    X-Real-IP                      $remote_addr;
        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                    Access-Control-Allow-Origin    *;
        proxy_set_header                    Upgrade                        $http_upgrade;
        proxy_set_header                    Connection                     "upgrade";

        proxy_buffering                     off;
        proxy_read_timeout                  86400s;
        proxy_send_timeout                  86400s;
    }

    location /auth {
        proxy_http_version                  1.1;
        proxy_pass                          http://127.0.0.1:8080;
        proxy_redirect                      off;
        proxy_set_header                    Host                           $host;
        proxy_set_header                    X-Real-IP                      $remote_addr;
        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                    X-Forwarded-Proto              $scheme;
        proxy_set_header                    Access-Control-Allow-Origin    *;
        proxy_buffering                     off;
        proxy_read_timeout                  3600;
        proxy_send_timeout                  90;
        proxy_connect_timeout               5;
    }

    location /gis/ {
        proxy_http_version                  1.1;
        proxy_pass                          http://gisurl/webgio.ashx/;
        proxy_redirect                      off;
        proxy_set_header                    Host                           $host;
        proxy_set_header                    X-Real-IP                      $remote_addr;
        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                    X-Forwarded-Proto              $scheme;
        proxy_set_header                    Access-Control-Allow-Origin    *;
        proxy_buffering                     off;
        proxy_read_timeout                  3600;
        proxy_send_timeout                  90;
    }

    location /tiles/ {
        proxy_http_version                  1.1;
        proxy_pass                          http://gisurl/webgio.ashx/;
        proxy_redirect                      off;
        proxy_set_header                    Host                           $host;
        proxy_set_header                    X-Real-IP                      $remote_addr;
        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                    X-Forwarded-Proto              $scheme;
        proxy_set_header                    Access-Control-Allow-Origin    *;
        proxy_buffering                     off;
        proxy_read_timeout                  3600;
        proxy_send_timeout                  90;
        proxy_connect_timeout               5;
    }

    location /chat/ {
        proxy_http_version                  1.1;
        proxy_pass                          http://127.0.0.1:3000;
        proxy_redirect                      off;
        proxy_set_header                    Host                           $host;
        proxy_set_header                    X-Real-IP                      $remote_addr;
        proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
        proxy_set_header                    Access-Control-Allow-Origin    *;
        proxy_set_header                    Upgrade                        $http_upgrade;
        proxy_set_header                    Connection                     "upgrade";

        proxy_buffering                     off;
        proxy_read_timeout                  86400s;
        proxy_send_timeout                  86400s;
    }

    location / {
        try_files $uri /index.html;
    }

    location = /favicon.ico {
        try_files $uri =204;
        log_not_found off;
        access_log off;
        expires max;
    }

    location ~ /\. {
        deny all;
    }

}