#!/bin/bash
#
# chkconfig: - 30 60
# description: webgiocalc
# processname: webgiocalc
# config: /opt/webgiocalc/lib/webgiocalc4.0/gisargun/config.ini
# pidfile: /var/run/webgiocalc/webgiocalc.pid
## mkdir /var/run/webgiocalc/
## /opt/DataGisBase
## chown -R webgio:webgio /opt/DataGisBase
## chown -R webgio:webgio /opt/webgio/lib/webgiocalc4.0
## avtor "жзл очумелые ручки"
# remake 16.10.14
 
. /etc/init.d/functions
 
[ -f /etc/sysconfig/network ] &&  . /etc/sysconfig/network
 
 
webgio_home(){
 
#HOME=/opt/webgiocalc/lib/webgiocalc4.0
HOME={{ WEBGIOCALC_HOME }}/lib/webgiocalc4.0
cd $HOME
__pwd=$(pwd)
export LD_LIBRARY_PATH=$__pwd:$__pwd/gisargun/plugins:$__pwd/gisargun/plugins/Calc2:$__pwd/gisargun/plugins/CalcPlugin:$__pwd/qt:$__pwd/extern:$__pwd/gisargun
export PATH=$__pwd:$PATH
export LC_ALL=ru_RU.utf8
 
} 
 
pidfile=/var/run/webgiocalc/webgiocalc.pid
lockfile=/var/lock/subsys/webgiocalc
 
status -p $pidfile -l $(basename $lockfile) $lockfile >/dev/null 2>&1
running=$?
 
 
status_u (){
#echo '22222222222222222222222222222222222222222'
status -p $pidfile -l $(basename $lockfile) $lockfile
running=$?
}
 
 
start() {
#	echo '1111111111111111111111111111111111'
    status_u >/dev/null 2>&1
    if [ $running -eq 1 ]
    then
        rm -rf /var/run/webgiocalc/webgiocalc.pid
        rm -rf /var/lock/subsys/webgiocalc
    fi
 
    if [ $running -eq 0 ]
    then
        status_u
    else
        webgio_home
        DISPLAY=:25 {{ WEBGIOCALC_HOME }}/lib/webgiocalc4.0/gisargun/WebGio >/dev/null 2>&1 &
		echo $(pidof WebGio)
        pidof WebGio > /var/run/webgiocalc/webgiocalc.pid
        echo webgio > /var/lock/subsys/webgiocalc
        status_u
    fi
}
 
 
 
 
start_dop() {
    status_u >/dev/null 2>&1
        
	 if ! [ -d /var/run/webgiocalc/ ]; then
	    mkdir -p /var/run/webgiocalc
	 fi


	if [ $running -eq 1 ]
        then
                rm -rf /var/run/webgiocalc/webgiocalc.pid
                rm -rf /var/lock/subsys/webgiocalc
        webgio_home
        DISPLAY=:25 {{ WEBGIOCALC_HOME }}/lib/webgiocalc4.0/gisargun/WebGio &
                pidof WebGio > /var/run/webgiocalc/webgiocalc.pid
                echo webgiocalc > /var/lock/subsys/webgiocalc
    fi
}

stop() {
    status_u >/dev/null 2>&1
        if [ $running -eq 1 ]
        then
        rm -rf /var/run/webgiocalc/webgiocalc.pid
        rm -rf /var/lock/subsys/webgiocalc
        fi

    status_u >/dev/null 2>&1
    if [ $running -eq 3 ]
    then
        status_u
    else
        kill -TERM `ps -e |grep WebGio | awk '{print $1}'` & >&/dev/null
            rm -rf /var/run/webgiocalc/webgiocalc.pid
            rm -rf /var/lock/subsys/webgiocalc
            status_u
    fi
}


restart_u() {
    status_u >/dev/null 2>&1
    if [ $running -eq 1 ]
        then
        rm -rf /var/run/webgiocalc/webgiocalc.pid
        rm -rf /var/lock/subsys/webgiocalc
        fi

    if [ $running -eq 3 ]
    then
        start
    else
        kill -TERM `ps -e |grep WebGio | awk '{print $1}'` & >&/dev/null
                rm -rf /var/run/webgiocalc/webgiocalc.pid
                rm -rf /var/lock/subsys/webgiocalc
            status_u
        start
    fi
}


case "$1" in
    start)
       start
       ;;
    stop)
       stop
       ;;
    try-restart|condrestart|restart|force-reload|reload)
    restart_u
    ;;
    status|fullstatus)
    start_dop
    status -p $pidfile -l $(basename $lockfile) $lockfile
       ;;
    help|configtest|graceful)
    webgio-help
       ;;
    *)
       echo "Usage: $0 {start|stop|restart|condrestart|try-restart|force-reload|reload|status|fullstatus|graceful|help|configtest}"
esac

exit $?