[General]
baseDN="{{ LDAP_DC_END }}"
database=stuff/db.sqlite
defaultHost="{{ LDAPADMINADDR }}"
defaultPassword="12345678"
defaultUser="cn=Manager,{{ LDAP_DC_END }}"
groupDN="ou=Group,{{ LDAP_DC_END }}"
linkResourcesFile=stuff/linkResources.txt
pgArcticDatabase="{{ FLYDB }}"
pgArcticHost="{{ DBIP }}"
pgArcticPassword="{{ FLYPASS }}"
pgArcticUser="{{ FLYUSER }}"
pgDatabase="{{ FRODB }}"
pgHost="{{ DBIP }}"
pgPassword="{{ FRONTIER }}"
pgUser="frontier"
resourcesFile=stuff/resources.csv
sqlScript=stuff/classifier.sql
style=stuff/defaultStyle.qs
