[z36c-spo-proton]
name=Zircon36C - SPO - proton
baseurl=http://{{ REPO_IP }}/proton/Packages
enabled=1
gpgcheck=0
[z36c-spo-media-dvd]
name=Zircon36C - SPO - Media -dvd
baseurl=http://{{ REPO_IP }}/repo-new
enabled=1
gpgcheck=0