proxy_cache_path /opt/nginx/cache levels=1:2 keys_zone=szi_cache:2m max_size=20g use_temp_path=off;

upstream szi_web {
                server 127.0.0.1:8080;
        }
upstream szi_gis {
                server {{GISIP}}:{{GISPORT}};
        }
upstream szi_chat {
                server 127.0.0.1:3000;
        }
map $http_upgrade $connection_upgrade {
                default upgrade;
                '' close;
        }

server {
    listen 80 default_server;
    proxy_http_version                  1.1;
    proxy_redirect                      off;
    proxy_set_header                    Host                           $host;
    proxy_set_header                    X-Real-IP                      $remote_addr;
    proxy_set_header                    X-Forwarded-For                $proxy_add_x_forwarded_for;
    proxy_set_header                    X-Forwarded-Proto              $scheme;
    proxy_set_header                    Access-Control-Allow-Origin    *;
    proxy_buffering                     on;
    proxy_read_timeout                  61s;
    proxy_send_timeout                  61s;
    client_max_body_size 100m;
    access_log /var/log/nginx/middleware.local-access.log main;
    error_log /var/log/nginx/middleware.local-error.log;

    rewrite ^/gis/(.*)$ /$1; 

    location ^~ / {
        index index.html;                                                                                                                                                   
        root /opt/spo-web-arctic-portal/dist;                                                                                                                               
        try_files $uri $uri/static /index.html /arctic;                                                                                                                     
                                                                                                                                                                            
        location /favicon.ico {                                                                                                                                             
                root /opt/spo-web-arctic-portal/dist;                                                                                                                       
                add_header Cache-Control public;                                                                                                                            
                expires 1y;
        }

        location /static {
                root /opt/spo-web-arctic-portal/dist;
                add_header Cache-Control public;
                expires 1y;

        }
        
        location /arctic {
                proxy_pass http://szi_web;
                proxy_set_header                    Upgrade                        $http_upgrade;
                proxy_set_header                    Connection                     "upgrade";

                        location ~ /arctic/api {
                                proxy_pass http://szi_web;
                                proxy_set_header                    Upgrade                        $http_upgrade;
                                proxy_set_header                    Connection                     "upgrade";

                                location ~ /arctic/api/(attributes|dom/elements|resources|info/version|nodes/(.*)/attributes/(.*)$) {
                                try_files $uri @arctic_cache;
                                }
                        }

                        location ~ /arctic/ws {
                                proxy_pass http://szi_web;
                                proxy_set_header                    Upgrade                        $http_upgrade;
                                proxy_set_header                    Connection                     "upgrade";
                        }
        }
        location ~ /chat {
                   proxy_pass http://szi_chat;
                   proxy_set_header                    Upgrade                        $http_upgrade;
                   proxy_set_header                    Connection                     "upgrade";
        }
        
        location ~ /tms {
                try_files $uri @cache_gis;
        }

        }



        location @cache_gis {
                   proxy_pass http://szi_gis;
                   access_log off;
                   proxy_cache szi_cache;

                   proxy_cache_valid 404 403 5m;
                   proxy_cache_valid any 1y;
                   proxy_buffering on;
                   proxy_ignore_headers Expires;
                   proxy_ignore_headers X-Accel-Expires;
                   proxy_ignore_headers Cache-Control;
                   proxy_ignore_headers Set-Cookie;

                   proxy_hide_header X-Accel-Expires;
                   proxy_hide_header Expires;
                   proxy_hide_header Cache-Control;
                   proxy_hide_header Pragma;

                   add_header X-Proxy-Cache $upstream_cache_status;

                   proxy_cache_revalidate on;
                   proxy_cache_min_uses 1;
                   proxy_cache_use_stale error timeout updating http_500 http_502
                             http_503 http_504;
                   proxy_cache_lock on;
                   proxy_set_header   Connection "";
                   proxy_http_version 1.1;
                   proxy_set_header        Host            $host;
                   proxy_set_header        X-Real-IP   $remote_addr;
                   proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
                   proxy_cache_key "$scheme$request_method$host$request_uri";
        }
        location @arctic_cache {
                 access_log off;
                 proxy_cache szi_cache;
                 proxy_pass http://szi_web;
                 proxy_cache_valid 404 403 5m;
                 proxy_cache_valid any 1y;
                 proxy_buffering on;
                 proxy_ignore_headers Expires;
                 proxy_ignore_headers X-Accel-Expires;
                 proxy_ignore_headers Cache-Control;
                 proxy_ignore_headers Set-Cookie;
                 proxy_hide_header X-Accel-Expires;
                 proxy_hide_header Expires;
                 proxy_hide_header Cache-Control;
                 proxy_hide_header Pragma;
                 add_header X-Proxy-Cache $upstream_cache_status;
                 proxy_cache_revalidate on;
                 proxy_cache_min_uses 1;
                 proxy_cache_use_stale error timeout updating http_500 http_502
                            http_503 http_504;
                 proxy_cache_lock on;
                 proxy_set_header   Connection "";
                 proxy_http_version 1.1;
                 proxy_set_header        Host            $host;
                 proxy_set_header        X-Real-IP   $remote_addr;
                 proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
                 proxy_cache_key "$scheme$request_method$host$request_uri";
}


}
