###########################
# Set here system properties
##BEGIN## added by ansible configuration
current.zone={{ STANDALONE_PROPERTIES_ZONE }}
classifier.rest.url=http://127.0.0.1:8180/classifier/app
##END## added by ansible configuration
