module.exports = {
  host: '{{DBIP}}',
  port: {{DBPORT}},
  database: '{{FLYDB}}',
  user: '{{FLYUSER}}',
  listen: 3000,
  isFlygres: true,
  password: '{{FLYPASS}}'
}

// If exists user-conf it parameters will overwrite defaults
try {
  const conf = require('./user-conf.js')
  for (const key in conf) {
    if (conf.hasOwnProperty(key)) {
      module.exports[key] = conf[key]
    }
  }
} catch (err) {
}
